@import "./_variables.scss";
@import "./_mixins.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: black;
  margin-top: 0;
  .label {
    font-size: 85%;
  }
  .checkbox label {
    font-weight: 600;
  }
  .label-success,
  .panel-success .panel-heading,
  .progress-bar-success {
    background-color: $success-color;
  }
  .label-warning,
  .panel-warning .panel-heading,
  .progress-bar-warning {
    background-color: $warning-color;
  }
  .label-danger,
  .panel-danger .panel-heading,
  .progress-bar-danger {
    background-color: $danger-color;
  }
  h2,
  .title,
  h2.panel-title,
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    color: darken($brand-color, 0%);
  }
  ul.dropdown-menu li {
    padding-right: 0;
  }
  #dashboards ul > li {
    padding-right: 10px;
  }
  .form-control:focus {
    border-color: $brand-color;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(98, 187, 70, 0.6);
  }
  .form-control:hover {
    border-color: $brand-color;
  }
  .btn-primary {
    @include button-variant(white, darken($brand-color, 10%), $brand-color, darken($brand-color, 10%), darken($brand-color, 20%));
  }
  .jumbotron-cf {
      background-color: $light-background;
      border: 1px solid $light-border;
      margin-bottom: 20px;
  }

  .probe-heading,
  .panel-heading,
  .label,
  {
      a {
          color: white;
      }
  }

  .scirius_task {
      a {
          color: darken($brand-color, 10%);
      }
   }
            
  #tasks_finished .panel-heading {
    a {
      color: white;
    }
  }
  table.paleblue, table.paleblue + ul.pagination {
    font-family: 'Open Sans', sans-serif;
  }
  table.paleblue tr.even {
    background-color: white;
  }
  .panel-body ul {
    list-style-type: none;
    padding-left: 0;
  }
  .alert-dismissable .close, .alert-dismissible .close {
    right: 0
  }

  .panel-default .panel-heading .panel-title a,
  a {
    color: darken($brand-color, 10%);
  }
  .list-view-pf-left .pficon.list-view-pf-icon-success {
    border-color: $success-color;
  }
  .list-view-pf-left .pficon.list-view-pf-icon-warning {
    border-color: $warning-color;
  }
  .list-view-pf-left .pficon.list-view-pf-icon-danger {
    border-color: $danger-color;
  }
  .list-view-pf-additional-info-item strong {
    font-size: 14px;
  }
  div.disabled_home
  {
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
  }
  div.card-pf-item.failure
  {
    color: $danger-color;
  }
  .brand-color, h2.brand-color {
    color: $brand-color;
  }
  .light-background {
    background-color: $light-background;
  }
  .logo-title {
     float: right;
     padding-left: 26px;
     margin-right: 60px;
     color: white;
     font-size: 20px;
  }
  img#img-logo {
     padding: 0px;
     margin: 0px;
     margin-top: 1px;
     height: 32px;
     vertical-align: middle;
  }
  .navbar.navbar-default {
     background-color: $brand-color;
     margin-right: -20px;
     margin-left: -20px;
     padding-left: 0px;
     padding-right: 0px;
     height: 64px;
     color: #dcddde;
     line-height: 64px;
     border: none;
     border-bottom: solid 1px $brand-green;
  }
  .navbar-default .navbar-nav > li > a {
     line-height: 64px;
     font-size: 14px;
     padding-top: 0px;
     padding-bottom: 0px;
     color: #dcddde;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
     background-color: $brand-color;
     color: white;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
     color: white;
     line-height: 64px;
  }
  input[type="text"]#id_search {
     padding-bottom: 0px;
     padding-top: 0px;
     color: $brand-color;
  }
  .navbar-form {
     padding-top: 0px;
     padding-bottom: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
  }
  .caret {
     color: white;
  }
  .applauncher-pf-link-title {
     color: $brand-color;
  }
  .navbar-default.home-menu {
     margin-left: 0px;
     margin-right: 0px;
  }
}
