$brand-color: #005792;
$brand-green: #0297A9;
$background-black: #414042;
$border-black: #414042;
$light-background: #dcddde;
$light-border: #dcddde;
$success-color: #0297a9;
$warning-color: #fbde00;
$danger-color: #923b00;
