{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "strict": 1,
    "no-undef": "error"
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  }
}
