*.pyc
scirius/local_settings.py
*.swp
git-sources/*
node_modules
rules/static/dist
rules/static/doc
doc/_build/
stamus-docs/build/
.DS_Store
.idea/*
ui/.idea*
ui/cypress.env.json
static/
.direnv
.envrc
db.sqlite3
.venv
