include LICENSE
include README.rst
recursive-include rules/static *
recursive-include rules/templates *
recursive-include suricata/static *
recursive-include suricata/templates *
recursive-include accounts/templates *
recursive-include scirius/templates *
recursive-include viz/templates *
recursive-include viz/migrations *
recursive-include viz/static *
recursive-include accounts/migrations *
recursive-include rules/migrations *
recursive-include suricata/migrations *
recursive-include rules/management *.py
recursive-include suricata/management *.py

