amqp
argparse
arrow
async
billiard
celery
certifi
cryptography>=43.0.3
daemon
Django>=4.2,<5
django_ace
django-auth-ldap
django-bootstrap3
django-celery-results
django4-chunked-upload>=2.0.2
django-cprofile-middleware
django-cprofile-middleware
django-csp
django-dbbackup>4
django-filter
django-filter
django-ipware
django-ipware
django-mass-edit
djangorestframework
djangorestframework
django-revproxy>=0.11.0
djangosaml2
django-tables2
django-webpack-loader
django-webpack-loader
ecdsa
elasticsearch<7
elasticsearch<7
enum34
flup
gevent
gitdb
GitPython
greenlet
gunicorn
gunicorn
httplib2
idstools
idstools
influxdb
ipy
ipy
kombu
markdown
markdown
MarkupSafe
medusa
paramiko
psutil
psycopg2-binary
psycopg2-binary
Pygments
pyinotify
pyinotify
pyOpenSSL>=24.2.1
python-dateutil>=2.8.1
python-gnupg
pytz
PyYAML
requests
six
smmap
subprocess32
suricata-language-server>=0.9.4
vine
web.py
