daemon
Django<4
django-bootstrap3
django-revproxy
django-tables2
django-dbbackup<4
django-auth-ldap
django-csp
gitdb
GitPython
psutil
Pygments
pytz
PyYAML
requests
six
smmap
ipy
elasticsearch<7
django-ipware
gunicorn
djangorestframework
markdown
django-filter
idstools
enum34
django-webpack-loader
django-cprofile-middleware
