daemon==1.1
Django==1.8
django-bootstrap3==5.4.0
django-revproxy==0.9.0
django-tables2==0.16.0
gitdb==0.6.4
GitPython==1.0.0
psutil==2.2.1
Pygments==2.0.2
pytz==2015.2
requests==2.6.0
six==1.9.0
smmap==0.9.0
South==1.0.2
urllib3==1.10.1
# pyinotify
