.dl-horizontal .dl-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.dl-horizontal dt {
    justify-self: end;
}
.dl-horizontal dd {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-left: 20px;
    margin-bottom: 0;
}
