.calendar-start-date, .calendar-end-date {
  .ant-fullcalendar-table {
    height: 200px;
    thead {
      .ant-fullcalendar-column-header {
        .ant-fullcalendar-column-header-inner {
          font-weight: bold;
        }
      }
    }
  }
  .ant-fullcalendar-value {
    width: 32px;
    padding: 0 8px;
  }
  .ant-select {
    width: 100%;
  }
}
.tabs-time-frames {
  .ant-tabs-bar {
    margin: 0 0 2px 0;
  }
}
