.hunt-filter__container *, .hunt-filter__container .form-group {
    margin:0;
    padding:0;
}

.hunt-filter__container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr repeat(2, max-content);
    padding: 10px 20px;
    box-shadow: 0 .5rem 1rem #999999;
    border-radius: 3px;
    margin-bottom: 20px;
}

.hunt-filter__container h4 {
    margin-bottom: 10px;
}

/* first column */
.hunt-filter__filters {
    display: grid;
    align-content: space-between;
    grid-gap: 10px;
    padding: 0 10px 0 0;
}

.hunt-filter__filters button {
    background-image: linear-gradient(to bottom, #fafafa 0%, #ededed 100%);
    border-color: rgb(35, 33, 33);
    font-weight: 600;
    font-size: 12px;
    padding: 1px 6px;
    height: 26px;
}

.hunt-filter__filters--1 {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 10px;
}

.hunt-filter__filters--2 {
    border-top: 1px solid #d1d1d1;
    padding-top: 8px;
}

.hunt-filter__filters--2 li {
    padding-top: 2px;
}

.hunt-filter__filters--2 span {
    white-space: inherit;
}

.hunt-filter__filters--3 {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
}

/* second column */
.hunt-filter__tags-filters {
    display: grid;
    grid-gap: 10px;
    border-right: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    padding: 0 10px;
}

.hunt-filter__tags-filters > div {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
}

/* third column */
.hunt-filter__actions {
    display: grid;
    grid-gap: 10px;
    padding: 0 0 0 10px;
}

.hunt-filter__actions > div { 
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
}

.hunt-filter__actions > div:hover > * { 
    color: #40a9ff;
    fill: #40a9ff;
    transition: color .3s;
}

#root > div > nav > nav > ul.navbar-iconic {
    height: 63px;
  }