{% extends "rules/base.html" %}
{% load bootstrap3  %}

{% block sidebar %}
<div class="panel-heading">
<h2 class="panel-title">
{% if source %}
{% if update %}
Source '{{ source.name }}'
{% else %}
Edit Source '{{ source.name }}'
{% endif %}
{% else %}
Add a Source
{% endif %}
</h2>
</div>
{% endblock %}

{% block content %}
{% if update %}
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<h2 id="source_action">'{{ source.name }}' source initialisation</h2>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" id="source_progress">
    Source handling.
  </div>
</div>


<div id="init_details">
</div>

</div>
</div>
</div>

<script>

function activate_ruleset_from(src_pk, rulesets, ruleset_list, r_length)
{
   if (rulesets.length == 0) {
        $('#source_progress').width("100%");
        $('#source_progress').addClass("progress-bar-success");
        $('#source_progress').removeClass("progress-bar-danger");
        $('#source_progress').text("Source fully activated.");

        $('#init_details').append("<p><a href='{{ source.get_absolute_url }}'>See details of {{ source.name }} source.</a></p>");
        return;
   }
   ri = rulesets.pop()
   ruleset = ruleset_list.pop()
   var tgturl = "/rules/source/" + src_pk + "/activate/" + ri;
   $.ajax({
       url: tgturl,
          success: function(data) {
             if (data == true) {
                 var progress = 80 + (r_length - rulesets.length) * 20 / rulesets.length;
                 $('#source_progress').width(progress + "%");
                 $('#source_progress').text("Source activated in " + ruleset + ".");
                 $("#init_details").append('<p class="text-success"> <span class="glyphicon glyphicon-ok"></span> Source activated in "' + ruleset + '"</p>');
                 activate_ruleset_from(src_pk, rulesets, ruleset_list, r_length);
             } else {
                 $('#source_progress').addClass("progress-bar-danger");
                 $('#source_progress').text("Could not activate source for '" + ruleset + "'.");
                 $('#init_details').append("<p class='text-danger'> <span class='glyphicon glyphicon-remove'></span> Could not activate source for '" + ruleset + "'.</p>");
             }
          },
      error: function(data) {
             $('#source_progress').addClass("progress-bar-danger");
             $('#source_progress').text("Unable activate source in '" + ruleset + "'.");
      }
    });
}

function test_source(src_pk, rulesets, ruleset_list)
{
    var tgturl = "/rules/source/" + src_pk + "/test";

    $('#source_progress').text("Testing source.");
    $.ajax({
       url: tgturl,
          success: function(data) {
            if (data['status'] == true) { 
                $("#init_details").append('<p class="text-success"> <span class="glyphicon glyphicon-ok"></span></span> Source is valid</p>');
                $('#source_progress').width("80%");
                if (! rulesets) {
                    rulesets = []
                }
                activate_ruleset_from(src_pk, rulesets, ruleset_list, rulesets.length)
            } else {
                $('#source_progress').addClass("progress-bar-danger");
                $('#source_progress').text("Source has errors.");
		var error_content = "";
                if (data['errors'][0] != undefined) {
                    for (i = 0; i < data['errors'].length; i++) {
                            error_content += '<li><span class="text-danger"><strong>' + data['errors'][i]['error'] + '</strong></span>: <span>' + data['errors'][i]['message'] + '</span></li>';
                    }
                } else {
                    if (data['errors']['message'] != undefined) {
                        error_content = data['errors']['message'];
                    } else {
                        error_content = "Unknown error";
                    }
                }
                $("#init_details").append('<p class="text-danger"> <span class="glyphicon glyphicon-remove"></span> Source test failure: <ul>' + error_content + '</ul></p>');
		var error_actions = '<button class="btn btn-primary" type="submit"><a href="{{ source.get_absolute_url }}delete"> <span class="glyphicon glyphicon-trash"> Delete source</span></a></button>'
		error_actions += ' <button class="btn btn-warning" id="continue" type="submit"> <span class="glyphicon glyphicon-ok"> Ignore errors and continue</span></a></button>';
		$("#init_details").append('<div id="error_actions">' + error_actions + '<div>');
		$("#continue").click( function(event) {
                        $("#error_actions").slideUp();
                        if (! rulesets) {
                                rulesets = []
                        }
                        activate_ruleset_from(src_pk, rulesets, ruleset_list, rulesets.length)
		});
            }
          },
	  error: function(data) {
             $('#source_progress').addClass("progress-bar-danger");
             $('#source_progress').text("Unable to update source.");
             $("#init_details").append('<p class="text-danger"> <span class="glyphicon glyphicon-remove"></span> Error during source testing</p>');
	  },
      timeout: 120 * 1000
    });

}

function update_activate_source(src_pk, rulesets, ruleset_list)
{
    var tgturl = "/rules/source/" + src_pk + "/update";

    $('#source_progress').text("Updating source.");
    $.ajax({
       url: tgturl,
          success: function(data) {
            if (data['status'] == true) { 
                $("#init_details").append('<p class="text-success"> <span class="glyphicon glyphicon-ok"></span></span> Source updated</p>');
                $('#source_progress').width("70%");
		test_source(src_pk, rulesets, ruleset_list);
            } else {
                $('#source_progress').addClass("progress-bar-danger");
                $('#source_progress').text("Could not test source.");
                $("#init_details").append('<p class="text-danger"> <span class="glyphicon glyphicon-remove"></span> Error during source update: ' + data['errors'] + '</p>');
                var error_actions = '<button class="btn btn-primary" type="submit"><a href="{{ source.get_absolute_url }}delete"> <span class="glyphicon glyphicon-trash"> Delete source</span></a></button>'
		        error_actions += ' <button class="btn btn-warning" id="continue" type="submit"><a href="{{ source.get_absolute_url }}"><span class="glyphicon glyphicon-ok"> Ignore errors and continue</span></a></button>';
		        $("#init_details").append('<div id="error_actions">' + error_actions + '<div>');
            }
          },
	  error: function(data) {
             $('#source_progress').addClass("progress-bar-danger");
             $('#source_progress').text("Unable to update source.");
             $("#init_details").append('<p class="text-danger"> <span class="glyphicon glyphicon-remove"></span> Error during source update</p>');
	  },
      timeout: 120 * 1000
    });
}

$( 'document' ).ready(function() {
        {% if update %}
            {% if not rulesets %}
            update_activate_source({{ source.pk }}, null);
            {% else %}
            update_activate_source({{ source.pk }}, [ {{ rulesets|join:"," }} ], [ {{ ruleset_list|safeseq|join:"," }} ])
            {% endif %}
        {% endif %}
});

</script>

{% else %}
<script language="JavaScript">
function display_field(method) {
    if ($( this ).find("option:selected").text() == "HTTP URL") {
        $("#id_uri").parents(".form-group").show(duration=200);
        $("#id_authkey").parents(".form-group").show(duration=200);
        $("#id_file").parents(".form-group").hide(duration=200);
    } else {
        $("#id_uri").parents(".form-group").hide(duration=200);
        $("#id_authkey").parents(".form-group").hide(duration=200);
        $("#id_file").parents(".form-group").show(duration=200);
    }
}

function display_warning(method) {
    if ($( this ).find("option:selected").text() == "Other content") {
        $("#name_warning").show(duration=200);
    } else {
        $("#name_warning").hide(duration=200);
    }
}

function hide_fields() {
    $("#id_method").change(display_field);
    $("#id_uri").parents(".form-group").hide();
    $("#id_authkey").parents(".form-group").hide();
    $("#id_file").parents(".form-group").hide();
    $("#name_warning").hide();
    $("#id_method").change(display_field);
    $("#id_datatype").change(display_warning);
}

function select_fields() {
    if ($("#id_method").find("option:selected").text() == "HTTP URL") {
        $("#id_file").parents(".form-group").hide();
        $("#id_uri").parents(".form-group").show();
        $("#id_authkey").parents(".form-group").show();
    } else {
        $("#id_uri").parents(".form-group").hide();
        $("#id_authkey").parents(".form-group").hide();
        $("#id_file").parents(".form-group").show();
    }
    if ($("#id_datatype").find("option:selected").text() == "Other content") {
        $("#name_warning").show();
    } else {
        $("#name_warning").hide();
    }

    $("#id_method").change(display_field);
    $("#id_datatype").change(display_warning);
}

$('document').ready(function() {hide_fields();});
$('document').ready(function() { select_fields();});

</script>

<div class="alert alert-warning" id="name_warning">Warning: the name will be file name in Suricata rules directory</div>

{% if form %}
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
{% if source %}
    <form class="form" enctype="multipart/form-data" action="/rules/source/{{ source.pk }}/edit" method="post">
{% else %}
    <form class="form" enctype="multipart/form-data" action="/rules/source/add" method="post">
{% endif %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok" %} Submit
        </button>
    {% endbuttons %}
</form>
</div>
</div>
</div>
{% endif %}
{% endif %}


{% endblock %}
