{% extends "rules/base.html" %}
{% load bootstrap3  %}

{% block sidebar %}
<div class="panel-heading">
<h2 class="panel-title">Add a Ruleset</h2>
</div>
{% endblock %}

{% block content %}

{% if error %}
<div class="error">{{ error }}</div>

{% endif %}

{% if missing %}

{{ missing }}

{% else %}

<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<form action="/rules/ruleset/add" method="post" class="form">{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "plus" %} Add 
        </button>
    {% endbuttons %}
</form>
</div>
</div>
</div>

{% endif %}

{% endblock %}
