{% extends "rules/base.html" %}
{% load bootstrap3  %}

{% block sidebar %}
<div class="panel-heading">
<h2 class="panel-title">Add {{ type }} for rule {{ rule.pk }} </h2>
</div>
{% endblock %}

{% block content %}

{% if missing %}

{{ missing }}

{% else %}
 {% if container %}
<div class="alert alert-danger">Threshold is included in <a href="{% url 'threshold' container.pk %}">{{ container }}</a>.</div>
 {% endif %}

{% if thresholds %}
<h2>Existing thresholds</h2>
{% load render_table from django_tables2 %}
{% render_table thresholds %}
{% endif %}

{% if form %}
<h2>Add threshold</h2>

<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<form action="{% url 'threshold_rule' rule.pk %}" method="post" class="form">{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "plus" %} Add 
        </button>
    {% endbuttons %}
</form>
</div>
</div>
</div>

 {% endif %}
{% endif %}

{% endblock %}
