{% extends "rules/base.html" %}
{% load bootstrap3  %}

{% block sidebar %}
<div class="panel-heading">
<h2 class="panel-title">
{% if source %}
Edit Source '{{ source.name }}'
{% else %}
Add a Source
{% endif %}
</h2>
</div>
{% endblock %}

{% block body %}
{% if source %}
<body onload="select_fields();" >
{% else %}
<body onload="hide_fields();" >
{% endif %}
{% endblock %}

{% block content %}

<script language="JavaScript">
function display_field(method) {
    if ($( this ).find("option:selected").text() == "HTTP URL") {
        $("#id_uri").parents(".form-group").show(duration=200);
        $("#id_file").parents(".form-group").hide(duration=200);
    } else {
        $("#id_uri").parents(".form-group").hide(duration=200);
        $("#id_file").parents(".form-group").show(duration=200);
    }
}

function display_warning(method) {
    if ($( this ).find("option:selected").text() == "Other content") {
        $("#name_warning").show(duration=200);
    } else {
        $("#name_warning").hide(duration=200);
    }
}

function hide_fields() {
    $("#id_method").change(display_field);
    $("#id_uri").parents(".form-group").hide();
    $("#id_file").parents(".form-group").hide();
    $("#name_warning").hide();
    $("#id_method").change(display_field);
    $("#id_datatype").change(display_warning);
}

function select_fields() {
    if ($("#id_method").find("option:selected").text() == "HTTP URL") {
        $("#id_file").parents(".form-group").hide();
    } else {
        $("#id_uri").parents(".form-group").hide();
    }
    if ($("#id_datatype").find("option:selected").text() == "Other content") {
        $("#name_warning").show();
    } else {
        $("#name_warning").hide();
    }

    $("#id_method").change(display_field);
    $("#id_datatype").change(display_warning);
}
</script>

{% if error %}
<div class="error">{{ error }}</div>

{% endif %}


<div class="alert alert-warning" id="name_warning">Warning: the name will be file name in Suricata rules directory</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-6">
{% if source %}
    <form class="form" enctype="multipart/form-data" action="/rules/source/{{ source.pk }}/edit" method="post">
{% else %}
    <form class="form" enctype="multipart/form-data" action="/rules/source/add" method="post">
{% endif %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "plus" %} Submit
        </button>
    {% endbuttons %}
</form>
</div>
</div>
</div>



{% endblock %}
