{% extends "rules/base.html" %}
{% block sidebar %}
{% if source %}
<h2>Edit Source '{{ source.name }}'</h2>
{% else %}
<h2>Add a Source</h2>
{% endif %}
{% endblock %}

{% block body %}
{% if source %}
<body onload="select_fields();" >
{% else %}
<body onload="hide_fields();" >
{% endif %}
{% endblock %}

{% block content %}

<script language="JavaScript">
function display_field(method) {
    if ($( this ).find("option:selected").text() == "HTTP URL") {
        $("#id_uri").parent().show(duration=200);
        $("#id_file").parent().hide(duration=200);
    } else {
        $("#id_uri").parent().hide(duration=200);
        $("#id_file").parent().show(duration=200);
    }
}

function hide_fields() {
    $("#id_method").change(display_field);
    $("#id_uri").parent().hide();
    $("#id_file").parent().hide();
}

function select_fields() {
    if ($("#id_method").find("option:selected").text() == "HTTP URL") {
        $("#id_file").parent().hide();
    } else {
        $("#id_uri").parent().hide();
    }
    $("#id_method").change(display_field);
}
</script>

{% if error %}
<div class="error">{{ error }}</div>

{% endif %}

{% if source %}
<form enctype="multipart/form-data" action="/rules/source/{{ source.pk }}/edit" method="post">{% csrf_token %}
{% else %}
<form enctype="multipart/form-data" action="/rules/source/add" method="post">{% csrf_token %}
{% endif %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}
