{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'rules/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'rules/static.css' %}" />
    <title>{% block title %}Scirius Rule Management{% endblock %}</title>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script language="JavaScript">
    function toggle_scirius_menu(img) {
        $("#app_menu").toggle(duration=200)
    }
    </script>
</head>

{% block body %}
<body>
{% endblock %}
  <div id="wrapper">
	<!-- end #header -->

		<div id="logo">
			<img onclick="toggle_scirius_menu(this);" src="{% static 'rules/stamus.png' %}"/>
            <div id="app_menu">
                <ul>
		{% if kibana %}
                <li><a href="{{kibana_url}}">Dashboards</a>
		    {% if dashboards %}
                    <ul>
                    {% for dashboard in dashboards %}
                        <li><a href="{{kibana_url}}/#/dashboard/elasticsearch/{{dashboard}}">{{dashboard}}</a></li>
                    {% endfor %}
                    </ul>
		    {% endif %}
                </li>
		{% endif %}
                <li><a target="_blank" href="https://github.com/StamusNetworks/scirius">Scirius homepage</a></li>
                </ul>
            </div>
		</div>
	<div id="menu">
		<ul>
			<li><a href="/rules/">Home</a></li>
			<li><a href="/rules/ruleset/">Ruleset</a></li>
			<li><a href="/rules/source/">Sources</a></li>
            {% if generator %}
                <li><a href="/{{ generator }}/">{{ generator|capfirst }}</a></li>
            {% endif %}
			<li id="li-about"><a href="/rules/about/">About</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
                    {% block error %}
                      {% if error %}
                       <div class="error">{{ error }}</div>
                      {% endif %}
                    {% endblock %}
                    {% block content %}{% endblock %}
				</div>
				<!-- end #content -->
				<div id="sidebar">
				        {% block sidebar %}
        				{% endblock %}
					{% if object_path %}
					<h2>Path</h2>
					   {% for object in object_path %}
					  	<a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
						{% if not forloop.last %}
							&gt;
						{% endif %}
					  {% endfor %}
					{% endif %}
    				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
    </div>
  </div>
<div id="footer">
	<p><a href="https://github.com/StamusNetworks/scirius">Scirius v0.5</a>. Copyright (c) 2014 <a href="https://www.stamus-networks.com">Stamus Networks</a>. CSS Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
</body>
</html>
