{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Scirius Rule Management{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="{% static 'rules/bootstrap.min.css' %}" />
     <link rel="stylesheet" href="{% static 'rules/nv.d3.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/d3.v3.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/nv.d3.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/scirius.js' %}"></script>
    {% block head %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'rules/static.css' %}" />
</head>

{% block body %}
<body>
{% endblock %}
<div class="container-fluid">
	<nav class="navbar navbar-default" role="navigation">
 <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-dropdown collapsed" type="button" data-target="sc_menu" data-toggle="dropdown" id="logo">
			<img src="{% static 'rules/stamus.png' %}"/><span class="caret"/>
</a>
			<ul class="dropdown-menu" id="sc_menu" role="menu">
			{% if kibana %}
                        <li><a href="{{kibana_url}}">{% bootstrap_icon "stats"%} Dashboards</a>
				<div id="dashboards"><ul><li>Loading data...</li></ul></div>
                        </li>
 			<li role="presentation" class="divider"></li>
			{% endif %}
            <li><a href="{% url 'accounts_edit' '' %}" >{% bootstrap_icon "cog"%} Account settings</a></li>
            <li><a href="/accounts/logout/" >{% bootstrap_icon "log-out"%} Logout</a></li>
            {% if request.user.is_superuser %}
 			<li role="presentation" class="divider"></li>
                        <li><a href="{% url 'accounts_manage' '' %}" >{% bootstrap_icon "user"%} Manage accounts</a></li>
            {% endif %}
            <li role="presentation" class="divider"></li>
            <li><a target="_blank" href="https://github.com/StamusNetworks/scirius">{% bootstrap_icon "new-window"%} Scirius homepage</a></li>
			</ul>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-menu-collapse">
        <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
          </button>
        </div>


        <div class="navbar-collapse collapse" id="top-menu-collapse">
                <ul class="nav navbar-nav" id="top_menu">

            <li><a id="home" href="/rules/">Home</a></li>
			<li><a id="ruleset" href="/rules/ruleset/">Rulesets</a></li>
			<li><a id="source" href="/rules/source/">Sources</a></li>
            		{% if generator %}
			<li><a id="{{ generator }}" href="/{{ generator }}/">{{ generator|capfirst }}</a></li>
            		{% endif %}
			<li>
				<a id="about" href="/rules/about/">About</a>
			</li>
		</ul>
		<form class="navbar-form navbar-nav navbar-right"  action="/rules/search" method="post" role="search">{% csrf_token %}
<div class="form-group">
			<span class="glyphicon glyphicon-search"> <input type="text" name="search" id="id_search"/></span>
</div>
		</form>
</div>
</div>
	</nav>
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-default" id="sidebar">
				        {% block sidebar %}
					<div class="panel-heading">
					<h2 class="panel-title">Scirius</h2>
					</div>
        				{% endblock %}
					{% if object_path %}
					<div class="panel-heading">
					<h2 class="panel-title">Path</h2>
					</div>
					<ol class="breadcrumb">
					   {% for object in object_path %}
					  <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
					  {% endfor %}
					</ol>
					{% endif %}
                                        {% block status %} {% endblock %}
			</div> <!-- panel -->
            {% if elasticsearch %}
			<div class="panel panel-default" id="sys-status">
					<div class="panel-heading">
					<h2 class="panel-title">System status</h2>
					</div>
                    <div class="panel-body">
                    <div id="suri-status" class="label label-default">Suricata</div>
{% if elasticsearch %}
                    <div id="health" class="label label-default">Elasticsearch</div>
{% endif %}
                    <div id="disk-status" class="label label-default">Disk</div>
                    <div id="memory-status" class="label label-default">Memory</div>
                    </div>
            </div>
            {% endif %}
		</div> <!-- col -->
		{% if three_columns %}
		<div class="col-md-8">
		{% else %}
		<div class="col-md-10">
		{% endif %}
                    {% block error %}
                      {% if error %}
                       <div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
 <span id="error">{{ error }}</span></div>

                      {% else %}
                       <div class="alert alert-danger alert-dismissible" style="display:none;">
                       <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                       <span id="error"> No error</span></div>
                      {% endif %}
                    {% endblock %}

                    {% block content %}{% endblock %}
		</div> <!-- col -->
		{% if three_columns %}
		<div class="col-md-2">
                    {% block 3dcol %}{% endblock %}
		</div>
		{% endif %}
	</div> <!-- row -->


{% include "rules/footer.html" %}
</div> <!-- class container -->

{% if kibana %}
<script>

function load_dashboards() {
    $.ajax(
        {
                type:"GET",
                url:"/rules/es?query=dashboards",
                success: function(data) {
                if (!data) {
                        $("#dashboards").text("Failed to get data");
                        $("#error").text("Unable to get data from Elasticsearch");
                        $("#error").parent().toggle();
                }
                if (data) {
                        $("#dashboards").empty();
                        var dh = "<ul>";
                        for (var key in data) {
                                dh += "<li><a href='{{ kibana_url }}/#/dashboard/elasticsearch/" + key + "'>" + data[key] + "</a></li>";
                        }
                        $("#dashboards").append(dh);
                } else {
                        $("#dashboards").text("Failed to get data");
		}
                },
                error: function(data) {
                        $("#dashboards").empty();
                        $("#dashboards").append("<ul><li>Error getting data</li></ul>");
                        $("#error").text("Unable to get data from Elasticsearch");
                        $("#error").parent().toggle();
                },
                timeout: 15000,
        }
    );
}


$( 'document' ).ready(load_dashboards());

</script>
{% endif %}


{% if elasticsearch %}

<script>
function get_es_health() {
    $.ajax(
        {
                type:"GET",
                url:"/rules/es?query=health",
                success: function(data) {
                if (!data) {
                        $("#health").removeClass("label-default");
                        $("#health").addClass("label-danger");
                } else {
                        $("#health").removeClass("label-default");
                        if (data['status'] == 'green') {
                            $("#health").addClass("label-success");
                        } else if (data['status'] == 'yellow') {
                            $("#health").addClass("label-warning");
                        } else if (data['status'] == 'red') {
                            $("#health").addClass("label-danger");
                        }
                }
                },
                error: function(data) {
                        $("#health").removeClass("label-default");
                        $("#health").addClass("label-danger");
                },
                timeout: 15000,
        }
    );
}

$( 'document' ).ready(get_es_health());
</script>
{% endif %}

<script>
function get_suricata_health() {
    $.ajax(
        {
                type:"GET",
                url:"/{{ generator }}/info?query=status",
                success: function(data) {
                if (!data) {
                        $("#suri-status").addClass("label-danger");
                        $("#suri-status").removeClass("label-default");
                } else {
                        if (data['running']) {
                            $("#suri-status").addClass("label-success");
                        } else {
                            $("#suri-status").addClass("label-danger");
                        }
                        $("#suri-status").removeClass("label-default");
                }
                },
                error: function(data) {
                        $("#suri-status").addClass("label-danger");
                        $("#suri-status").removeClass("label-default");
                },
                timeout: 15000,
        }
    );
}

function get_disk_health() {
    $.ajax(
        {
                type:"GET",
                url:"/{{ generator }}/info?query=disk",
                success: function(data) {
                if (!data) {
                        $("#disk-status").addClass("label-danger");
                        $("#disk-status").removeClass("label-default");
                } else {
                        if (data[3] < 90) {
                            $("#disk-status").addClass("label-success");
                        } else {
                            $("#disk-status").addClass("label-danger");
                        }
                        $("#disk-status").removeClass("label-default");
                }
                },
                error: function(data) {
                        $("#disk-status").addClass("label-danger");
                        $("#disk-status").removeClass("label-default");
                },
                timeout: 15000,
        }
    );
}

function get_memory_health() {
    $.ajax(
        {
                type:"GET",
                url:"/{{ generator }}/info?query=memory",
                success: function(data) {
                if (!data) {
                        $("#memory-status").addClass("label-danger");
                        $("#memory-status").removeClass("label-default");
                } else {
                        if (data[3] < 10) {
                            $("#memory-status").addClass("label-success");
                        } else {
                            $("#memory-status").addClass("label-danger");
                        }
                        $("#memory-status").removeClass("label-default");
                }
                },
                error: function(data) {
                        $("#memory-status").addClass("label-danger");
                        $("#memory-status").removeClass("label-default");
                },
                timeout: 15000,
        }
    );
}

$( 'document' ).ready(get_suricata_health());
$( 'document' ).ready(get_disk_health());
$( 'document' ).ready(get_memory_health());
</script>
</body>
</html>
