{% extends "rules/base.html" %}

{% block sidebar %}
       <h2>{{ category.name }}</h2>
<ul>
       <li><span class="type">Filename:</span> {{ category.filename}}</li>
       <li><span class="type">Created:</span> {{ category.created_date}}</li>
</ul>
{% endblock %}

{% block content %}

<script language="Javascript">
$( 'document' ).ready(function() {
    $(".msg").click(function( event ) {
        if ($(this).find(".detail").length) {
            $(this).find(".detail").slideUp(
                function() {
                    $(this).remove();
                }
            );
        } else {
            sid = $( this ).parent().find("a").html();
            $.ajax(
                {
                        type:"GET",
                        url:"/rules/rule/"+sid,
                        success: function(data) {
                            mylink = $('a').filter(function(index) { return $(this).text() == data.sid; });
                            mytd = mylink.parent().parent().find(".msg");
                            mytd.append("<div class='detail'>" + data.content + "</div>");
                            mytd.find(".detail").slideDown();
                        },
                }
            );
        }
    });
});
</script>


<h2 class="title">Rules</h2>
{% load render_table from django_tables2 %}
{% render_table rules %}

{% endblock %}
