{% extends "rules/base.html" %}
{% load bootstrap3 %}
{% block sidebar %}
    <div class="panel-heading">
        <h2 class="panel-title">Delete object</h2>
    </div>
{% endblock sidebar %}
{% block content %}
    <h2 class="title">Are you sure you want to delete object {{ object.name|default:object.pk }}?</h2>
    <form class="form" action={% url delfn object.id %} method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-trash">Delete object</span>
        </button>
    </form>
{% endblock content %}
