{% extends "rules/base.html" %}
{% load bootstrap3  %}

{% block sidebar %}
<div class="panel-heading">
{% if rule %}
<h2 class="panel-title">Transform rule {{ rule.pk }} </h2>
{% else %}
<h2 class="panel-title">Transform category '{{ category.name }}' </h2>
{% endif %}
</div>

<div class="panel-body">
<ul class="action">
{% if rule.state %}
<li>
    <a href="{% url 'edit_rule' rule.sid %}">Transform rule</a>
</li>
<li>
<a href="{% url 'suppress_rule' rule.sid %}">Disable rule</a>
</li>
<li>
<a href="{% url 'enable_rule' rule.sid %}">Enable rule</a>
</li>
<li>
<a href="{% url 'threshold_rule' rule.sid %}?action=threshold">Threshold rule</a>
</li>
<li>
<a href="{% url 'threshold_rule' rule.sid %}?action=suppress">Suppress rule</a>
</li>
{% endif %} {# rule.state #}
</ul>
</div>

{% endblock %}

{% block content %}
{% if rule %}
<h2>Transform rule</h2>
{% if category_transforms %}
<div class="panel panel-info">
<div class="panel-heading">Inheritance</div>
<div class="panel-body">
This rule is part of category <a href="{% url 'category' rule.category.pk %}">'{{ rule.category.name }}'</a> so inherit from:
<ul>
{% for transform in category_transforms %}
<li>
	<a href="{% url 'ruleset' transform.ruleset.pk %}">{{ transform.ruleset }}</a>: <div class="label label-info">{{ transform.trans }}</div>
</li>
{% endfor %}
</ul>
Changing transformation for the rule will add an exception.
</div>
</div>
{% endif %}
{% else %}
<h2>Transform category</h2>
{% endif %}


{% if category or rule.get_transformation_choices|length %}
<p>
Please choose a transformation to apply on current object. As transformation are exclusive, you need to pick one to apply.
</p>
<div class="container-fluid">
<div class="row">
<div class="col-md-6">

{% if rule %}
<form action="{% url 'edit_rule' rule.pk %}" method="post" class="form">
{% else %}
<form action="{% url 'transform_category' category.pk %}" method="post" class="form">
{% endif %}

{% csrf_token %}
    {% bootstrap_field form.rulesets %}
    {% bootstrap_field form.action %}
    {% bootstrap_field form.lateral %}
    {% bootstrap_field form.target %}
    {% bootstrap_field form.comment %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "check" %} Valid
        </button>
    {% endbuttons %}

</form>
</div>
</div>
</div>
{% else %}
The rule can not be transformed because of its definition.
{% endif %}
{% endblock %}
