{% extends "rules/base.html" %}
{% block sidebar %}
<div class="panel-heading">
       <h2 class="panel-title"><a href="/rules/ruleset/{{ ruleset.pk }}">{{ ruleset.name }}</a></h2>
</div>
<ul>
{% if ruleset.descr %}
       <li><span class="type">Description:</span> {{ ruleset.descr }}</li>
{% endif %}
       <li><span class="type">Created:</span> {{ ruleset.created_date }}</li>
{% if ruleset.updated_date %}
       <li><span class="type">Updated:</span> {{ ruleset.updated_date }}</li>
{% endif %}
</ul>
<div class="panel-heading">
<h2 class="panel-title">Action</h2>
</div>
<ul class="action">
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/edit?mode=sources">Edit sources</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/edit?mode=categories">Edit categories</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/addsupprule">Add rule to disabled list</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/edit?mode=rules">Remove rule from disabled list</a>
</li>
</ul>
{% endblock %}

{% block body %}
<body onload="tables2_checking();" >
{% endblock %}

{% block content %}

<script language="JavaScript">
function tables2_toggle(source, name) {
    $( source ).parents('table').find("input").prop('checked', source.checked)
}

{% if mode == 'sources' %}

function tables2_checking() {
    var arr = {{ sources_selection }};
    checkboxes = document.getElementsByName('source_selection');
    for (var i in checkboxes) {
        if  (arr.indexOf(parseInt(checkboxes[i].value)) > -1) {
            checkboxes[i].checked = 1;
        }
    }
}
{% else %}

function tables2_checking() {
    var arr = [{{ cats_selection }}];
    checkboxes = document.getElementsByName('category_selection');
    for (var i in checkboxes) {
        if  (arr.indexOf(parseInt(checkboxes[i].value)) > -1) {
            checkboxes[i].checked = 1;
        }
    }
}

{% endif %}

</script>

{% if not mode %}
Choose an operation in Action menu.
{% endif %}

{% if mode == 'sources' %}
{% load render_table from django_tables2 %}
<h2 class="title">Choose sources</h2>
<h4>Check sources to enable/disable them and validate form at bottom.</h4>

<form class="form" action="/rules/ruleset/{{ ruleset.id }}/edit" method="post">{% csrf_token %}
{% render_table sources_list %}
<input type="hidden" name="sources" value="sources">
<p></p>
<input type="submit" class="btn btn-primary" value="Update sources" />
</form>

{% endif %}

{% if mode == 'categories' %}

{% load render_table from django_tables2 %}
<form class="form" action="/rules/ruleset/{{ ruleset.id }}/edit" method="post">{% csrf_token %}
{% for sourceatversion in sources %}

{% if not sourceatversion.source.datatype == 'other' %}
<h2 class="title">Source: {{ sourceatversion }}</h2>
<h4>Check categories to enable/disable them and validate form at bottom</h4>

    {% for key, value in categories_list.items  %}
        {% if key == sourceatversion.source.name %}
            {% render_table value %}
        {% endif %}
    {% endfor %}
{% endif %}

{% endfor %}
<p></p>
<p>
<input type="submit"  class="btn btn-primary" value="Update categories" />
</p>
<input type="hidden" name="category" value="category">
</form>

{% endif %}

{% if mode == 'rules' %}

<h2 class="title">Disabled rules</h2>

<form class="form" action="/rules/ruleset/{{ ruleset.id }}/edit" method="post">{% csrf_token %}
{% render_table rules %}
<input type="hidden" name="rules" value="rules">
<input type="submit"  class="btn btn-primary" value="Remove selected rules from disabled rules" />
</form>

{% endif %}

{% endblock %}
