{% extends "rules/base.html" %}

{% block content %}

<div class="container-fluid">
{% if elasticsearch %}

<script>
$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('esstatsactiveTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('esstatsactiveTab');
    if(activeTab){
        $('#estats a[href="' + activeTab + '"]').tab('show');
    }
});
</script>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="estats" role="tablist">
    <li role="presentation" class="active"><a href="#cluster" aria-controls="cluster" role="tab" data-toggle="tab">Cluster info</a></li>
    <li role="presentation"><a href="#indices" aria-controls="indices" role="tab" data-toggle="tab">Indices stats</a></li>
{% if logstash_stats %}
    <li role="presentation"><a href="#logstash-panel" aria-controls="logstash-panel" role="tab" data-toggle="tab">Logstash insertion speed</a></li>
{% endif %}
  </ul>

  <div class="tab-content">
<div role="tabpanel" class="tab-pane fade in active" id="cluster">

<div class="row">
<div class="col-md-4">
<div class="panel panel-default" id="shards">
<div class="panel-heading">
<h2 class="panel-title">Data shards</h2>
</div>
<div class="panel-body">
<ul>
<li><span class="type">Active primary shards:</span><span class="label label-default pull-right" id="active_primary_shards">N/A</span></li>
<li><span class="type">Active shards:</span><span class="label label-default pull-right" id="active_shards">N/A</span></li>
<li><span class="type">Relocating shards:</span><span class="label label-default pull-right" id="relocating_shards">N/A</span></li>
<li><span class="type">Initializing shards:</span><span class="label label-default pull-right" id="initializing_shards">N/A</span></li>
<li><span class="type">Unassigned shards:</span><span class="label label-default pull-right" id="unassigned_shards">N/A</span></li>
</ul>
</div> <!-- panel-body -->
</div> <!-- panel -->
</div> <!-- col -->

<div class="col-md-4">
<div class="panel panel-default" id="fs">
<div class="panel-heading">
<h2 class="panel-title">Filesystems info</h2>
</div>
<div class="panel-body">
<ul>

       <li><span class="type">Size of stored data:</span> <span class="pull-right label label-default" id="store_size">N/A</span></li>
       <li><span class="type">FS total size:</span> <span class="pull-right label label-default" id="fs_total">N/A</span></li>
       <li><span class="type">FS free space:</span> <span class="pull-right label label-default" id="fs_free">N/A</span></li>

</div> <!-- panel-body -->
</div> <!-- panel -->
</div> <!-- col -->

<div class="col-md-4">
<div class="panel panel-default" id="docs">
<div class="panel-heading">
<h2 class="panel-title">Documents/entries info</h2>
</div>
<div class="panel-body">
<ul>

       <li><span class="type">Nb of documents:</span> <span class="pull-right label label-default" id="docs_count">N/A</span></li>
       <li><span class="type">Nb of deletions:</span> <span class="pull-right label label-default" id="docs_deleted">N/A</span></li>

</div> <!-- panel-body -->
</div> <!-- panel -->
</div> <!-- col -->

</div> <!-- row -->

<div class="row">
<div class="col-md-4">
<div class="panel panel-default" id="nodes">
<div class="panel-heading">
<h2 class="panel-title">Nodes info</h2>
</div>
<div class="panel-body">
<ul>

       <li><span class="type">Number of nodes:</span> <span class="pull-right label label-default" id="nb_nodes">N/A</span></li>
       <li><span class="type">Number of data nodes:</span> <span class="pull-right label label-default" id="nb_data_nodes">N/A</span></li>

</div> <!-- panel-body -->
</div> <!-- panel -->
</div> <!-- col -->
</div> <!-- row -->
</div>

  <div role="tabpanel" class="tab-pane fade in" id="indices">
<div class="row">
<div class="col-md-12">
<div id="indices_stats">Fetching data</div>
</div>
</div>

</div>

{% if logstash_stats %}
  <div role="tabpanel" class="tab-pane fade in" id="logstash-panel">
<div class="row">
<div class="col-md-12">
<h2>Logstash event insertion speed (last {{ date }})
<span class="pull-right">
<a  class="dropdown-toggle" type="button" id="display_menu" data-toggle="dropdown">
<span class="glyphicon glyphicon-cog"> </span>
</a>
<ul class="dropdown-menu" id="display_menu">
   <li><a href="?duration=1">Last 1h</a></li>
   <li><a href="?duration=6">Last 6h</a></li>
   <li><a href="?duration=24">Last 24h</a></li>
   <li><a href="?duration=48">Last 2d</a></li>
   <li><a href="?duration=168">Last 7d</a></li>
</ul>
</span>
</h2>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div id="logstash">
<span>Fetching data...</span>
<svg style="width:100%;height:300px">
</svg>
</div>
</div> <!-- col -->
</div> <!-- row -->
</div>
{% endif %}

</div>
</div>

<script>

function bytesToSize(bytes) {
var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
if (bytes == 0) return '0 Byte';
var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
};

function get_es_stats() {
$.ajax(
{
        type:"GET",
        url:"{% url 'elasticsearch' %}?query=stats",
        success: function(data) {
        if (!data) {
                $("#es_status").removeClass("label-default");
                $("#es_status").removeClass("label-warning");
                $("#es_status").removeClass("label-success");
                $("#es_status").addClass("label-danger");
                $("#es_status").text("red");
        } else {
                $("#docs_count").text(data['indices']['docs']['count']);
                $("#docs_deleted").text(data['indices']['docs']['deleted']);
                $("#store_size").text(bytesToSize(data['indices']['store']['size_in_bytes']));
                $("#fs_total").text(bytesToSize(data['nodes']['fs']['total_in_bytes']));
                $("#fs_free").text(bytesToSize(data['nodes']['fs']['free_in_bytes']));
                $("#es_version").text(data['nodes']['versions']);
                $("#es_status").text(data['status']);
                $("#es_status").removeClass("label-warning");
                $("#es_status").removeClass("label-success");
                $("#es_status").removeClass("label-danger");
                $("#es_status").removeClass("label-default");
                if (data['status'] == 'green') {
                    $("#es_status").addClass("label-success");
                } else if (data['status'] == 'yellow') {
                    $("#es_status").addClass("label-warning");
                } else if (data['status'] == 'red') {
                    $("#es_status").addClass("label-danger");
                }
        }
        },
        error: function(data) {
                $("#es_status").removeClass("label-default");
                $("#es_status").removeClass("label-warning");
                $("#es_status").removeClass("label-success");
                $("#es_status").addClass("label-danger");
                $("#es_status").text("red");
        },
        complete: function() {
            setTimeout(get_es_stats, 30000);
        },
        timeout: 15000,
}
);
}
$( 'document' ).ready(get_es_stats());


function set_critical_value(data, selector) {
$("#".concat(selector)).text(data[selector]);
$("#".concat(selector)).removeClass("label-default");
$("#".concat(selector)).removeClass("label-warning");
$("#".concat(selector)).removeClass("label-success");
$("#".concat(selector)).removeClass("label-danger");
if (data[selector] > 0) {
$("#".concat(selector)).addClass("label-warning");
} else {
$("#".concat(selector)).addClass("label-success");
}
}

function get_es_detailed_health() {
$.ajax(
{
        type:"GET",
        url:"{% url 'elasticsearch' %}?query=health",
        success: function(data) {
        if (!data) {
                $("#es_status").removeClass("label-default");
                $("#es_status").addClass("label-danger");
        } else {
                $("#active_primary_shards").text(data['active_primary_shards']);
                $("#active_shards").text(data['active_shards']);
                set_critical_value(data, "relocating_shards");
                set_critical_value(data, "initializing_shards");
                set_critical_value(data, "unassigned_shards");
                $("#nb_nodes").text(data['number_of_nodes']);
                $("#nb_data_nodes").text(data['number_of_data_nodes']);
                $("#es_cluster_name").text(data['cluster_name']);
        }
        },
        error: function(data) {
                $("#es_status").removeClass("label-default");
                $("#es_status").addClass("label-danger");
        },
        complete: function() {
            setTimeout(get_es_detailed_health, 30000);
        },
        timeout: 15000,
}
);
}

$( 'document' ).ready(get_es_detailed_health());

function get_es_indices_stats() {

    var indices_url = "{% url 'elasticsearch' %}?query=indices";
    var page_no = new RegExp('[\?&]page=([^&#]*)').exec(window.location.href);
    if (page_no != null) {
        indices_url += '&page=' + page_no[1];
    }
    $.ajax(
    {
            type:"GET",
            url:indices_url,
            success: function(data) {
                    $("#indices_stats").empty();
                    $("#indices_stats").append(data);
            },
            error: function(data) {
                    $("#indices_stats").text("Could not fetch data");
            },
            complete: function() {
                setTimeout(get_es_indices_stats, 30000);
            },
            timeout: 15000,
    }
    );
}

$( 'document' ).ready(get_es_indices_stats());
{% if logstash_stats %}
{% if es2x %}
$( 'document' ).ready(draw_stats_timeline({{ from_date }}, 'eve_insert.rate_1m', '#logstash', 0, null));
{% else %}
$( 'document' ).ready(draw_stats_timeline({{ from_date }}, 'eve.total.rate_1m', '#logstash', 0, null));
{% endif %}
{% endif %}
</script>
{% else %}

<div class="alert alert-warning">Nothing to see here if you don't enable elasticsearch.</div>

{% endif %}
</div> <!-- container -->


{% endblock %}

{% block sidebar %}

<div class="panel-heading">
<h2 class="panel-title">Elasticsearch</h2>
</div>
<div class="panel-body">
<ul>
       <li><span class="type">Status:</span> <span class="pull-right label label-default" id="es_status" >Checking</span></li>
       <li><span class="type">Cluster name:</span><span class="pull-right" id="es_cluster_name">N/A</span></li>
       <li><span class="type">Version:</span> <span class="pull-right text-info" id="es_version">N/A</span></li>
</ul>
</div>

{% endblock %}
