
{% extends "rules/base.html" %}
{% block content %}
<h2 class="title">User actions history</h2>
{% for comment in history %}
{% include "rules/useraction.html" %}
{% endfor %}
<script>
$('button.comment_button').click(function() {
    var comment_pk = $(this).attr("id");
    if (confirm("Do you want to delete this comment ?")) {
        $.ajax({
            url: "{% url 'comment' %}/" + comment_pk + "/delete",
            success: function(data) {
                $(".comment#" + comment_pk).toggle();
                $(".comment#" + comment_pk).remove();
            }
            }
        );
    }
 });
</script>
{% endblock %}

{% block sidebar %}
<div class="panel-heading">
<h2 class="panel-title">History</h2>
</div>
<div class="panel-body">
Chronological list of user actions and comments.
</div>
{% endblock %}
