{% load get_files from webpack_loader %}
{% load staticfiles %}
<!DOCTYPE html>
<html class="layout-pf layout-pf-fixed transitions" lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="{% static 'rules/favicon.ico' %}" />
    <title>Scirius - Hunt</title>
  </head>
  <body class="cards-pf">
    <div id="root">
    </div>
     {% get_files 'main' 'css' as css_files %}
     {% for css_file in css_files %}
       <link type="text/css" href="{{ css_file.url }}" rel="preload stylesheet" />
     {% endfor %}

     {% get_files 'main' 'js' as js_files %}
     {% for js_file in js_files %}
       <script type="text/javascript" src="{{ js_file.url }}"></script>
     {% endfor %}
  </body>
</html>
