{% extends "rules/base.html" %}

{% block content %}

<div class="container-fluid">
<div class="row">
<div class="col-md-4">
<div class="panel panel-default" >
<div class="panel-heading" >
<h2 class="panel-title">Rulesets</h2>
</div>
{% if ruleset_list %}
    <ul>
    {% for ruleset in ruleset_list %}
        <li><a href="/rules/ruleset/{{ ruleset.id }}/">{{ ruleset.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No rulesets are available.</p>
{% endif %}
</div> <!-- panel -->
</div> <!-- col -->

<div class="col-md-4">
<div class="panel panel-default" >
<div class="panel-heading">
<h2 class="panel-title">Sources</h2>
</div>
{% if source_list %}
    <ul>
    {% for source in source_list %}
        <li><a href="/rules/source/{{ source.id }}/">{{ source.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No sources are available.</p>
{% endif %}
</div> <!-- panel -->
</div> <!-- col -->

</div> <!-- row -->

{% if elasticsearch and probes %}
<div class="row">
<div class="col-md-12">
<h2 class="title">Alerts activity (last {{ date }})
<span class="pull-right">
<a  class="dropdown-toggle" type="button" id="display_menu" data-toggle="dropdown">
<span class="glyphicon glyphicon-cog"> </span>
</a>
<ul class="dropdown-menu" id="display_menu">
   <li><a href="?duration=1">Last 1h</a></li>
   <li><a href="?duration=6">Last 6h</a></li>
   <li><a href="?duration=24">Last 24h</a></li>
   <li><a href="?duration=48">Last 2d</a></li>
   <li><a href="?duration=168">Last 7d</a></li>
</ul>
</span>
</h2>

</div> <!-- col -->
</div> <!-- row -->
<div class="row">
<div class="col-md-12">
<div id="timeline">
<p>Fetching data...</p>
<svg style="width:100%;height:300px">
</svg>
</div>

</div> <!-- col -->
</div> <!-- row -->

<script>
$( 'document' ).ready(function () { draw_timeline({{ from_date }}, [{% autoescape off %} {{ probes|join:',' }} {% endautoescape %}], null); });
</script>
{% endif %}

</div> <!-- container -->


{% endblock %}

{% block sidebar %}
{% if suricata %}

<div class="panel-heading">
<h2 class="panel-title">Suricata {{ suricata.name }}</h2>
</div>
<h2></h2>
<ul>
       <li><span class="type">Ruleset:</span> {{ suricata.ruleset }}</li>
       <li><span class="type">Description:</span> {{ suricata.descr }}</li>
       <li><span class="type">Last updated:</span> {{ suricata.updated_date }}</li>
</ul>

{% if request.user.is_staff %}
<div class="panel-heading">
<h2 class="panel-title">Action</h2>
</div>
<ul class="action">
<li>
<a href="/suricata/update">Update</a>
</li>
</ul>
{% endif %}

{% else %}
	<div class="panel-heading">
	<h2 class="panel-title">Scirius</h2>
	</div>
	<div class="panel-content">
        <ul>
	  <li><span class="type">Logged in as</span> {{ request.user }}</li>
        </ul>
        </div>
{% endif %}

{% endblock %}
