{% extends "rules/base.html" %}

{% block content %}

<h2 class="title">Rulesets</h2>
{% if ruleset_list %}
    <ul>
    {% for ruleset in ruleset_list %}
        <li><a href="/rules/ruleset/{{ ruleset.id }}/">{{ ruleset.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No rulesets are available.</p>
{% endif %}
<h2 class="title">Sources</h2>
{% if source_list %}
    <ul>
    {% for source in source_list %}
        <li><a href="/rules/source/{{ source.id }}/">{{ source.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No sources are available.</p>
{% endif %}

{% endblock %}

{% block sidebar %}
{% if suricata %}

<div class="panel-heading">
<h2 class="panel-title">Suricata {{ suricata.name }}</h2>
</div>
<h2></h2>
<ul>
       <li><span class="type">Ruleset:</span> {{ suricata.ruleset }}</li>
       <li><span class="type">Description:</span> {{ suricata.descr }}</li>
       <li><span class="type">Last updated:</span> {{ suricata.updated_date }}</li>
</ul>

<div class="panel-heading">
<h2 class="panel-title">Action</h2>
</div>
<ul class="action">
<li>
<a href="/suricata/update">Update</a>
</li>
</ul>

{% endif %}

{% endblock %}
