{% extends "rules/base.html" %}

{% block content %}

<div class="container-fluid">
<div class="row">

<div class="col-md-4">
<div class="panel panel-default" >
<div class="panel-heading">
<h2 class="panel-title">Sources</h2>
</div>
<div class="panel-body">
{% if source_list %}
    <ul>
    {% for source in source_list %}
        <li><a href="{% url 'source' source.id %}">{{ source.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No sources are available.</p>
{% endif %}
</div> <!-- panel-body -->
</div> <!-- panel -->
</div> <!-- col -->

<div class="col-md-4">
<div class="panel panel-default" >
<div class="panel-heading" >
<h2 class="panel-title">Rulesets</h2>
</div>
<div class="panel-body">
{% if ruleset_list %}
    <ul>
    {% for ruleset in ruleset_list %}
        <li><a href="{% url 'ruleset' ruleset.id %}">{{ ruleset.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No rulesets are available.</p>
{% endif %}
</div>
</div> <!-- panel -->
</div> <!-- col -->

</div> <!-- row -->

{% if elasticsearch and probes %}

<div class="row">

<div class="col-md-12">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2 class="title">Rules activity (last {{ date }})
<span class="pull-right">
<a  class="dropdown-toggle" type="button" id="display_menu" data-toggle="dropdown">
<span class="glyphicon glyphicon-cog"> </span>
</a>
<ul class="dropdown-menu" id="display_menu">
   <li><a href="?duration=1">Last 1h</a></li>
   <li><a href="?duration=6">Last 6h</a></li>
   <li><a href="?duration=24">Last 24h</a></li>
   <li><a href="?duration=48">Last 2d</a></li>
   <li><a href="?duration=168">Last 7d</a></li>
</ul>
</span>
</h2>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div id="rules_table">Fetching data...</div>
</div>
</div>
</div>
</div>

<div class="col-md-12">
<div class="container-fluid">

<div class="row">
<div class="col-md-12">
<h2 class="title">Alerts activity (last {{ date }})
<span class="pull-right">
<a  class="dropdown-toggle" type="button" id="display_menu" data-toggle="dropdown">
<span class="glyphicon glyphicon-cog"> </span>
</a>
<ul class="dropdown-menu" id="display_menu">
   <li><a href="?duration=1">Last 1h</a></li>
   <li><a href="?duration=6">Last 6h</a></li>
   <li><a href="?duration=24">Last 24h</a></li>
   <li><a href="?duration=48">Last 2d</a></li>
   <li><a href="?duration=168">Last 7d</a></li>
</ul>
</span>
</h2>

</div> <!-- col -->
</div> <!-- row -->
<div class="row">
<div class="col-md-12">
<div id="timeline">
<p>Fetching data...</p>
<svg style="width:100%;height:300px">
</svg>
</div>

</div> <!-- col -->
</div> <!-- row -->

</div>
</div> <!-- col side display -->
</div> <!-- row -->

<script>
$( 'document' ).ready(function () { draw_timeline({{ from_date }}, [{% autoescape off %} {{ probes|join:',' }} {% endautoescape %}], null); });

$( 'document' ).ready(load_rules({{ from_date }},  [ '*' ], null));
</script>
{% endif %}

</div> <!-- container -->


{% endblock %}

{% block sidebar %}
	<div class="panel-heading">
	<h2 class="panel-title">Scirius</h2>
	</div>
	<div class="panel-content">
        <ul>
	  <li><span class="type">Logged in as</span> {{ request.user }}</li>
        </ul>
        </div>
{% endblock %}
