{% extends "rules/base.html" %}


{% block sidebar %}
<div class="panel-heading">
    <h2 class="panel-title">{{ name }}</h2>
</div>
    <ul><li>{{ objects_len }} object(s)</li></ul>
   {% if action %}
<div class="panel-heading">
<h2 class="panel-title">Action</h2>
</div>
{% if adduri %}
        <ul class="action"> <li> <a href="{{ adduri }}">Add</a></li></ul>
{% else %}
        <ul class="action"> <li> <a href="/rules/{{ action }}/add">Add</a></li></ul>
{% endif %}

{% endif %}
{% endblock %}

{% block content %}
{% if objects %}

<div class="container-fluid">
<div class="row">
<div class="col-md-6">
{% load render_table from django_tables2 %}
{% render_table objects %}
</div>
</div>
</div>
{% else %}
No object available.
{% endif %}

{% endblock %}
