{% extends "rules/base.html" %}

{% block content %}
{% if objects %}
{% load render_table from django_tables2 %}
{% render_table objects %}
{% else %}
No object available.
{% endif %}

{% endblock %}

{% block sidebar %}
<div class="panel-heading">
    <h2 class="panel-title">{{ name }}</h2>
</div>
    <ul><li>{{ objects_len }} object(s)</li></ul>
   {% if action %}
<div class="panel-heading">
<h2 class="panel-title">Action</h2>
</div>
        <ul class="action"> <li> <a href="/rules/{{ action }}/add">Add</a></li></ul>
   {% endif %}
{% endblock %}
