{% extends "rules/base.html" %}
{% load staticfiles %}

{% block sidebar %}
<div class="panel-heading">
       <h2 class="panel-title">{{ rule.sid }}</h2>
</div>
<ul>
       <li><span class="type">Msg:</span> {{ rule.msg }}</li>
       <li><span class="type">Revision:</span> {{ rule.rev }}</li>
 {% if not rule.state_in_source %}
       <li><span class="type">State in source:</span> commented</li>
 {% endif %}
       <li><span class="type">Available:</span> {{ rule.state }}</li>
</ul>

{% if request.user.is_staff %}
<div class="panel-heading">
<h2 class="panel-title">Action</h2>
</div>
<ul class="action">
{% if rule.state %}
<li>
<a href="/rules/rule/{{ rule.sid }}/suppress">Disable rule</a>
</li>
<li>
<a href="/rules/rule/{{ rule.sid }}/enable">Enable rule</a>
</li>
{% endif %}
{% if not rule.state_in_source %}
<li>
<a href="/rules/rule/{{ rule.sid }}/availability">Toggle availability</a>
</li>
{% endif %}
{% if elasticsearch %}
<li>
<a href="/rules/rule/{{ rule.sid }}/delete">Delete generated alerts</a>
</li>
{% endif %}
</ul>
{% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="row">
<div class="col-md-8">
<h2 class="title">Definition</h2>
<div class="rule">
      {{ rule.highlight_content|safe }}
</div>
</div> <!-- col -->

{% if references %}
<div class="col-md-4">
<div class="panel panel-default" id="reference">
<div class="panel-heading">
<h2 class="panel-title">References</h2>
</div>
<ul>
{% for ref in references %}
<li>
{% if ref.url %}
{{ ref.key|capfirst }}:  <a href={{ ref.url }} target="_blank">{{ ref.value|truncatechars:80}}</a>
{% else %}
{{ ref.key }}:  {{ ref.value }}
{% endif %}
</li>
{% endfor %}
</ul>
</div> <!-- panel -->
{% endif %}
</div> <!-- col -->
</div> <!-- row -->

<div class="row">
<div class="col-md-6">
<h2 class="title">Status in rulesets</h2>

{% load render_table from django_tables2 %}
{% render_table rulesets %}

</div> <!-- col -->

<div class="col-md-6">
{% if elasticsearch %}
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2 class="title">Hits by host (last {{ date }})

<span class="pull-right">
<a  class="dropdown-toggle" type="button" id="display_menu" data-toggle="dropdown" />
<span class="glyphicon glyphicon-cog"> </span>
</a>
<ul class="dropdown-menu" id="display_menu">
   <li><a href="?duration=1">Last 1h</a></li>
   <li><a href="?duration=6">Last 6h</a></li>
   <li><a href="?duration=24">Last 24h</a></li>
   <li><a href="?duration=48">Last 2d</a></li>
   <li><a href="?duration=168">Last 7d</a></li>
</ul>
</span>
</h2>

</div>
</div>
<div class="row">
<div class="col-md-12">

<div id="stats_table">Fetching data...</div>
</div>
</div> <!-- row -->

</div> <!-- container -->
</div> <!-- col -->
</div> <!-- row -->
{% if probes %}
<div class="row">
<div class="col-md-12">
<h2 class="title">Activity (last {{ date }})
<span class="pull-right">
<a  class="dropdown-toggle" type="button" id="display_menu" data-toggle="dropdown">
<span class="glyphicon glyphicon-cog"> </span>
</a>
<ul class="dropdown-menu" id="display_menu">
   <li><a href="?duration=1">Last 1h</a></li>
   <li><a href="?duration=6">Last 6h</a></li>
   <li><a href="?duration=24">Last 24h</a></li>
   <li><a href="?duration=48">Last 2d</a></li>
   <li><a href="?duration=168">Last 7d</a></li>
</ul>
</span>
</h2>
</div> <!-- col -->
</div> <!-- row -->
<div class="row">
<div class="col-md-12">
<div id="timeline">
<p>Fetching data...</p>
<svg style="width:100%;height:300px">
</svg>
</div> <!-- timeline -->
</div> <!-- col -->
</div> <!-- row -->
{% endif %}
</div> <!-- container -->

<script>

{% if probes %}
$( 'document' ).ready(function () { draw_timeline({{ from_date }}, [{% autoescape off %} {{ probes|join:',' }} {% endautoescape %}], "alert.signature_id:{{ rule.sid }}" ); });
{% endif %}

function load_stats() {
    $.ajax({
       url: '/rules/es?query=rule&sid={{ rule.pk }}&from_date={{ from_date }}',
          success: function(data) {
             $('#stats_table').empty();
             $('#stats_table').append(data);
          },
	  error: function(data) {
             $('#stats_table').text("Unable to get data.");
             $("#error").text("Unable to get data from Elasticsearch");
             $("#error").parent().toggle();
	  }
    });

}

$( 'document' ).ready(load_stats());
</script>
{% endif %}

<script>
function rule_validity_check() {
    $("tr", "table#rulesets").each(
        function() {
            rulesetlink = $(this).find("a").attr('href')
            if (!rulesetlink || rulesetlink.indexOf('ruleset/') == -1) {
                return;
            }
            var id_regex = /(\d+)\/$/;
            var res_regex = id_regex.exec(rulesetlink);
            var ruleset_id = res_regex[1];
            var test_url = "{{ rule.get_absolute_url }}test/" + ruleset_id;
            $.ajax(
                {
                type:"GET",
                url: test_url,
                context: $(this),
                success: function(data) {
                        if (data['status']) {
                            $(this).find("td.validity").text('Valid');
                        } else {
                            $(this).find("td.validity").empty()
                            //$(this).find("td.validity").append('<div>Invalid</div>');
                            error_content = ""
                            for (i = 0; i < data['errors'].length; i++) {
                                    error_content += '<li><span class="text-danger"><strong>' + data['errors'][i]['error'] + '</strong></span>: <span>' + data['errors'][i]['message'] + '</span></li>';
                            }
                            $(this).find("td.validity").append('<div id="errors"><ul>' + error_content + '</ul></div>');
                            /* $(this).find("td.validity").click(function( event ) {
                               $(this).find("#errors").toggle(); 
                            }); */
                        }
                }
                }
            );
        }
      );
}

$( 'document' ).ready(rule_validity_check());
</script>
{% endblock %}
