{% extends "rules/base.html" %}

{% block sidebar %}
       <h2>{{ ruleset.name }}</h2>
<ul>
{% if ruleset.descr %}
       <li><span class="type">Description:</span> {{ ruleset.descr }}</li>
{% endif %}
       <li><span class="type">Created:</span> {{ ruleset.created_date }}</li>
{% if ruleset.updated_date %}
       <li><span class="type">Updated:</span> {{ ruleset.updated_date }}</li>
{% endif %}
</ul>
<h2 >Action</h2>
<ul class="action">
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/changelog">Changelog</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/update">Update</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/edit">Edit</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/copy">Copy</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/delete">Delete</a>
</li>
</ul>
<h2 >Display</h2>
<ul class="action">
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/">Show structure</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/display">Show rules</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/export" target="_" >Export rules file</a>
</ul>
{% endblock %}

{% block content %}

{% if update %}
Updated at {{ ruleset.updated_date }} !
{% endif %}

{% load render_table from django_tables2 %}

{% if mode == 'struct' %}

{% for sourceatversion in sources %}
<h2 class="title">Source: {{ sourceatversion }}</h2>
<h4>Categories</h4>

    {% for key, value in categories_list.items  %}
        {% if key == sourceatversion.source.name %}
            {% render_table value %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% endif %}

{% if mode == 'changelog' or diff %}
<h3 class="title">Changelog</h3>
{% if diff %}
{% load render_table from django_tables2 %}

{% for key, cdiff in diff.items %}
<h4>Source {{ key }}</h4>
<p>
Added: {{ cdiff.stats.added }}
Deleted: {{ cdiff.stats.deleted }} 
Updated: {{ cdiff.stats.updated }} 
(Updated at {{ cdiff.date }})
</p>
{% if cdiff.stats.added > 0 %}
<h5 class="title">Added rules</h5>
{% render_table cdiff.added %}
{% endif %}

{% if cdiff.stats.deleted > 0 %}
<h5 class="title">Deleted rules</h5>
{% render_table cdiff.deleted %}
{% endif %}

{% if cdiff.stats.updated > 0 %}
<h5 class="title">Updated rules</h5>
{% render_table cdiff.updated %}
{% endif %}
{% endfor %}
{% else %}
<p>No change on last update</p>
{% endif %}
{% endif %}



{% if mode == 'struct' %}
<h2 class="title">Suppressed rules</h2>
{% render_table rules %}
{% endif %}

{% if mode  == 'display' %}
<h2 class="title">Rules list</h2>
{% render_table rules %}
{% endif %}

{% endblock %}
