{% extends "rules/base.html" %}

{% block sidebar %}

<div class="panel-heading">
       <h2 class="panel-title">{{ ruleset.name }}</h2>
</div>
<ul>
{% if ruleset.descr %}
       <li><span class="type">Description:</span> {{ ruleset.descr }}</li>
{% endif %}
       <li><span class="type">Created:</span> {{ ruleset.created_date }}</li>
{% if ruleset.updated_date %}
       <li><span class="type">Updated:</span> {{ ruleset.updated_date }}</li>
{% endif %}
       <li><span class="type">Validity:</span> <span id="ruleset_status_menu">
      {% if ruleset.need_test %}
       Checking
       {% else %}
        {{ ruleset.validity }}
       {% endif %}
       </span></li>
</ul>
{% if request.user.is_staff %}
<div class="panel-heading">
<h2 class="panel-title">Action</h2>
</div>
<ul class="action">
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/changelog">Changelog</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/update">Update</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/edit">Edit</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/copy">Copy</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/delete">Delete</a>
</li>
</ul>
{% endif %}
<div class="panel-heading">
<h2 class="panel-title">Display</h2>
</div>
<ul class="action">
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/">Show structure</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/display">Show rules</a>
</li>
<li>
<a href="/rules/ruleset/{{ ruleset.id }}/export" target="_" >Export rules file</a>
</ul>
{% endblock %}

{% block content %}

{% if update %}
Updated at {{ ruleset.updated_date }} !
{% endif %}

{% load render_table from django_tables2 %}

{% if mode == 'struct' %}

<div class="container-fluid">
<div class="row">
<div class="col-md-6">
{% for sourceatversion in sources %}
<h2 class="title">Source: {{ sourceatversion }}</h2>

{% if not sourceatversion.source.datatype == 'other' %}
<h4>Categories</h4>

    {% for key, value in categories_list.items  %}
        {% if key == sourceatversion.source.name %}
            {% render_table value %}
        {% endif %}
    {% endfor %}
{% else %}
 Source fetched from {{ sourceatversion.source.uri }}
{% endif %}
{% endfor %}
</div>

{% endif %}

{% if mode == 'changelog' or diff %}
<h3 class="title">Changelog</h3>
{% if diff %}
{% load render_table from django_tables2 %}

{% for key, cdiff in diff.items %}
<h4>Source {{ key }}</h4>
<p>
Added: {{ cdiff.stats.added }}
Deleted: {{ cdiff.stats.deleted }} 
Updated: {{ cdiff.stats.updated }} 
(Updated at {{ cdiff.date }})
</p>
{% if cdiff.stats.added > 0 %}
<h5 class="title">Added rules</h5>
{% render_table cdiff.added %}
{% endif %}

{% if cdiff.stats.deleted > 0 %}
<h5 class="title">Deleted rules</h5>
{% render_table cdiff.deleted %}
{% endif %}

{% if cdiff.stats.updated > 0 %}
<h5 class="title">Updated rules</h5>
{% render_table cdiff.updated %}
{% endif %}
{% endfor %}
{% else %}
<p>No change on last update</p>
{% endif %}
{% endif %}



{% if mode == 'struct' %}

<div class="col-md-6">
<h2 class="title">Disabled rules</h2>
{% render_table rules %}
</div>
</div>
<div class="row" id="ruleset_status_row" style="display:none">
<div class="col-md-12">
<h2 class="title">Ruleset has errors</h2>
<div id="ruleset_status"></div>
{% if not ruleset.need_test and ruleset.errors %}
    <ul>
    {% for error in ruleset.json_errors %}
        {% if error.sid %}
            <li><span class="text-danger"><strong>{{ error.error }}</strong></span>: <a href="/rules/rule/{{ error.sid }}"><span>{{ error.message }}</span></a></li>
        {% else %}
            <li><span class="text-danger"><strong>{{ error.error }}</strong></span>: <span>{{ error.message }}</span></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
</div>
</div>
</div> <!-- container -->

<script>
function test_ruleset(ruleset_pk)
{
    var tgturl = "/rules/ruleset/" + ruleset_pk + "/test";

    $.ajax({
       url: tgturl,
          success: function(data) {
            if (data['status'] == true) { 
                $("#ruleset_status_menu").text("OK");
            } else {
                $("#ruleset_status_menu").text("Has errors");
                error_content = ""
                for (i = 0; i < data['errors'].length; i++) {
                    if (data['errors'][i]['sid']) {
                        error_content += '<li><span class="text-danger"><strong>' + data['errors'][i]['error'] + '</strong></span>: <a href="/rules/rule/' + parseInt(data['errors'][i]['sid']) + '"><span>' + data['errors'][i]['message'] + '</span></a></li>';
                    } else {
                        error_content += '<li><span class="text-danger"><strong>' + data['errors'][i]['error'] + '</strong></span>: <span>' + data['errors'][i]['message'] + '</span></li>';
                    }
                }
                $("#ruleset_status").append('<ul>' + error_content + '</ul>');
                $("#ruleset_status_row").show();
            }
          },
	  error: function(data) {
             $("#ruleset_status").append('<p class="text-danger"> <span class="glyphicon glyphicon-remove"></span> Unable to check ruleset validity</p>');
             $("#ruleset_status_row").show();
             $("#ruleset_status_menu").text("Unknown");
	  },
      timeout: 120 * 1000
    });
}

{% if ruleset.need_test %}
$( 'document' ).ready(function() {
    test_ruleset({{ ruleset.pk }})
});
{% else %}
{% if ruleset.errors.length %}
    $("#ruleset_status_row").show();
{% endif %}
{% endif %}
</script>
{% endif %}

{% if mode  == 'display' %}
<h2 class="title">Rules list</h2>
{% render_table rules %}
{% endif %}

{% endblock %}
