{% extends "rules/base.html" %}
{% load static %}
{% load bootstrap3  %}
{% block content %}
<h2 class="title">Ruleset export</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="title">Available versions</h4>
            <form target="_blank" action="{% url 'export_ruleset' ruleset.id %}" method="post">
                {% csrf_token %}
                <ul class="list-inline">
                    {% for version in versions %}
                        <li>
                            <button class="btn btn-primary btn-sm"
                                    type="submit"
                                    name="version"
                                    id="{{ version }}"
                                    value="{{ version }}">
                                {% if version == 0 %}
                                    < 39
                                {% else %}
                                    {{ version }}
                                {% endif %}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock%}

