{% extends "rules/base.html" %}

{% block sidebar %}
       <h2>{{ rule.sid }}</h2>
<ul>
       <li><span class="type">Msg:</span> {{ rule.msg }}</li>
       <li><span class="type">Revision:</span> {{ rule.rev }}</li>
</ul>
<h2 >Action</h2>
<ul class="action"><li>
<a href="/rules/rule/{{ rule.sid }}/suppress">Suppress</a>
</li>
</ul>


{% endblock %}

{% block content %}
<h2 class="title">Definition</h2>
<div class="rule">
	<code>
      {{ rule.content }}
    </code>
</div>
<h2 class="title">References</h2>
<ul>
{% for ref in references %}
<li>
{% if ref.url %}
{{ ref.key|capfirst }}:  <a href={{ ref.url }} target="_blank">{{ ref.value|truncatechars:80}}</a>
{% else %}
{{ ref.key }}:  {{ ref.value }}
{% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}
