{% extends "rules/base.html" %}
{% block sidebar %}
<div class="panel-heading">
       <h2 class="panel-title">{{ source.name }}</h2>
</div>
<ul>
{% if source.descr %}
       <li><span class="type">Description:</span> {{ source.descr }}</li>
{% endif %}
       <li><span class="type">Created:</span> {{ source.created_date }}</li>
{% if source.updated_date %}
       <li><span class="type">Updated:</span> {{ source.updated_date }}</li>
{% endif %}
</ul>
<div class="panel-heading">
<h2 class="panel-title">Action</h2>
</div>
<ul class="action">
<li>
<a href="/rules/source/{{ source.id }}/changelog">Changelog</a>
</li>
<li>
<a href="/rules/source/{{ source.id }}/update">Update</a>
</li>
<li>
<a href="/rules/source/{{ source.id }}/edit">Edit</a>
</li>
<li>
<a href="/rules/source/{{ source.id }}/delete">Delete</a>
</li>
<!-- </li>
<li>
<a href="/rules/source/{{ source.id }}/diff">Diff</a>
</li>
-->
</ul>
{% endblock %}

{% block content %}

{% if update %}
Updated at {{ source.updated_date }} !
{% endif %}

{% if diff %}
<h3 class="title">Changelog ({{ src_update.created_date}})</h3>

Added: {{ diff.stats.added }}
Deleted: {{ diff.stats.deleted }}
Updated: {{ diff.stats.updated }} 

{% load render_table from django_tables2 %}

{% if diff.stats.added > 0 %} 
<h4 class="title">Added rules</h4>
{% render_table diff.added %}
{% endif %}

{% if diff.stats.deleted > 0 %} 
<h4 class="title">Deleted rules</h4>
{% render_table diff.deleted %}
{% endif %}

{% if diff.stats.updated > 0 %} 
<h4 class="title">Updated rules</h4>
{% render_table diff.updated %}
{% endif %}

{% if changelogs %}
<h3 class="title">Previous changelog</h3>
{% render_table changelogs %}
{% endif %}

{% elif not error %}

{% if not source.datatype == 'other' %}
<h2 class="title">Categories</h2>

{% load render_table from django_tables2 %}
{% render_table categories %}
{% else %}

{% if source.method == 'http' %}
<h2 class="title">Other contents</h2>
Source fetched from {{ source.uri }}
{% endif %}
{% endif %}

{% endif %}

{% endblock %}
