{% extends "rules/base.html" %}
{% block sidebar %}
<div class="panel-heading">
       <h2 class="panel-title">{{ source.name }}</h2>
</div>
<ul>
{% if source.descr %}
       <li><span class="type">Description:</span> {{ source.descr }}</li>
{% endif %}
       <li><span class="type">Created:</span> {{ source.created_date }}</li>
{% if source.updated_date %}
       <li><span class="type">Updated:</span> {{ source.updated_date }}</li>
{% endif %}
</ul>

{% if request.user.is_staff %}
<div class="panel-heading">
<h2 class="panel-title">Action</h2>
</div>
<ul class="action">
<li>
<a href="{% url 'changelog_source' source.id %}">Changelog</a>
</li>
<li>
<span id="update_source" ><a>Update</a></span>
</li>
<li>
<a href="{% url 'edit_source' source.id %}">Edit</a>
</li>
<li>
<a href="{% url 'delete_source' source.id %}">Delete</a>
</li>
<!-- </li>
<li>
<a href="{% url 'diff_source' source.id %}">Diff</a>
</li>
-->
</ul>

<script>
    $("#update_source").click(function() {
	$("#update_modal").modal('show');
	$.ajax( {
                type:"GET",
                url:"{% url 'update_source' source.id %}",
                success: function(data) {
			if (data['status'] == true) {
				$("#update_source").modal('hide');
				window.location = "{% url 'changelog_ruleset' source.id %}";
			} else {
				$("#update_text").text("Error during update: " + data['errors']);
			}
		},
                error: function(data) {
			$("#update_text").text("Error during update");
                },
                timeout: 120000,
	}
  );
});

</script>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="UpdateModalLabel">Please wait...</h4>
      </div>
      <div class="modal-body" id="update_text">
        Scirius is updating source. This window will close when update is over.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}

{% block content %}

{% if diff %}
<h3 class="title">Changelog ({{ src_update.created_date}})</h3>

Added: {{ diff.stats.added }}
Deleted: {{ diff.stats.deleted }}
Updated: {{ diff.stats.updated }} 

{% load render_table from django_tables2 %}

{% if diff.stats.added > 0 %} 
<h4 class="title">Added rules</h4>
{% render_table diff.added %}
{% endif %}

{% if diff.stats.deleted > 0 %} 
<h4 class="title">Deleted rules</h4>
{% render_table diff.deleted %}
{% endif %}

{% if diff.stats.updated > 0 %} 
<h4 class="title">Updated rules</h4>
{% render_table diff.updated %}
{% endif %}

{% if changelogs %}
<h3 class="title">Previous changelog</h3>
{% render_table changelogs %}
{% endif %}

{% elif not error %}

{% if not source.datatype == 'other' %}

<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<h2 class="title">Categories</h2>

{% load render_table from django_tables2 %}
{% render_table categories %}

</div>
</div>
</div>
{% else %}

{% if source.method == 'http' %}
<h2 class="title">Other contents</h2>
Source fetched from {{ source.uri }}
{% endif %}
{% endif %}

{% endif %}

{% endblock %}
