{% extends "rules/base.html" %}
{% load bootstrap3  %}

{% block content %}

{% if form %}
<h4>Disable rule {{ rule.sid }} from</h4>
<div class="container-fluid">
<div class="row">
<div class="col-md-4">

<form class="form" action="/rules/rule/{{ rule.sid }}/suppress" method="post">{% csrf_token %}
    {% bootstrap_form form %}

{% if rules %}
This will also disable the following rules due to flowbits dependencies:
{% load render_table from django_tables2 %}
{% render_table rules %}
{% endif %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok" %} Disable
        </button>
    {% endbuttons %}
</form>

</div>
</div>
</div>
{% endif %}

{% endblock %}

{% block sidebar %}
<div class="panel-heading">
<h2 class="panel-title">Rule {{ rule.sid }}</h2>
</div>

{% endblock %}
