{% extends "rules/base.html" %}
{% load bootstrap3  %}

{% block content %}

{% if form %}
{% if operation == 'suppress' %}
<h4>Disable rule {{ rule.sid }} from</h4>
{% else %}
<h4>Enable rule {{ rule.sid }} in</h4>
{% endif %}
<div class="container-fluid">
<div class="row">
<div class="col-md-4">

{% if operation == 'suppress' %}
<form class="form" action="{% url 'suppress_rule' rule.sid %}" method="post">
{% else %}
<form class="form" action="{% url 'enable_rule' rule.sid %}" method="post">
{% endif %}

{% csrf_token %}
    {% bootstrap_form form %}

{% if rules %}
This will also {% if operation == 'suppress' %}disable{% else %}enable{% endif %} the following rules due to flowbits dependencies:
{% load render_table from django_tables2 %}
{% render_table rules %}
{% endif %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">
{% if operation == 'suppress' %}
            {% bootstrap_icon "ok" %} Disable
{% else %}
            {% bootstrap_icon "ok" %} Enable
{% endif %}
        </button>
    {% endbuttons %}
</form>

</div>
</div>
</div>
{% endif %}

{% endblock %}

{% block sidebar %}
<div class="panel-heading">
<h2 class="panel-title">Rule {{ rule.sid }}</h2>
</div>

{% endblock %}
