{% extends "rules/base.html" %}
{% load bootstrap3  %}


{% block sidebar %}
  <div class="panel-heading">
    <h2 class="panel-title">System settings</h2>
 </div>
  <div class="panel-body">
  <p>Submit form to update Scirius system settings.</p>
</div>
{% endblock %}


{% block content %}
{% if main_form %}
<h2>System settings edition</h2>
<ul class="nav nav-tabs" role="tablist">
    <li role="main" {% if form_id == 'main' %}class="active"{% endif %}><a href="#main" aria-controls="main" role="tab" data-toggle="tab">Main</a></li>
    <li role="es" {% if form_id == 'es' %}class="active"{% endif %}><a href="#es" aria-controls="es" role="tab" data-toggle="tab">Elasticsearch</a></li>
    <li role="kibana" {% if form_id == 'kibana' %}class="active"{% endif %}><a href="#kibana" aria-controls="kibana" role="tab" data-toggle="tab">Kibana</a></li>
</ul>

<div class="tab-content">

<div role="tabpanel" class="tab-pane fade{% if form_id == 'main' %} in active{% endif %}" id="main">
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<form class="form" action="{% url 'system_settings' %}" method="post">
    {% csrf_token %}
    <input type='hidden' name='form_id' value='main'>
    {% bootstrap_field main_form.use_http_proxy show_label=False %}
    <div id="proxy_fields">
      {% bootstrap_field main_form.http_proxy %}
      {% bootstrap_field main_form.https_proxy %}
    </div>
    {% bootstrap_field main_form.use_elasticsearch %}
    <div id="es_fields">
      {% bootstrap_field main_form.custom_elasticsearch %}
      <div id="es_custom_fields">
        {% bootstrap_field main_form.elasticsearch_url %}
      </div>
    </div>
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok" %} Submit
        </button>
    {% endbuttons %}
</form>
</div>
</div>
</div> <!-- container-fluid -->
</div> <!-- tabpanel -->

<div role="tabpanel" class="tab-pane fade{% if form_id == 'es' %} in active{% endif %}" id="es">
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
{% if main_form.use_elasticsearch.value %}
<form class="form" enctype="multipart/form-data" action="{% url 'system_settings' %}" method="post">
    {% csrf_token %}
    <input type='hidden' name='form_id' value='es'>
    {% bootstrap_label "Erase Elasticsearch data" %}
    <p class="help-block">
Clicking on the button will erase all Elasticsearch data except Kibana dashboards.
</p>
    {% buttons %}
        <span id="es_clear">
	<button type="button" name="clear" class="btn btn-danger">
            {% bootstrap_icon "trash" %} Clear
        </button>
	</span>
    {% endbuttons %}
</form>
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="es_clear_modal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="UpdateModalLabel">Delete all data</h4>
      </div>
      <div class="modal-body" id="update_text">
        {% if global_settings.custom_elasticsearch %}
		<div class="alert alert-danger">This will delete all the indexes including data not related to Scirius. Are you sure you want to proceed ?</div>
        {% endif %}
        Clicking on <code>Clear</code> will delete all saved data. Click on <code>Cancel</code> to abort.
      </div>
      <div class="modal-footer">

<form class="form" enctype="multipart/form-data" action="{% url 'system_settings' %}" method="post">
    {% csrf_token %}
    <input type='hidden' name='form_id' value='es'>
        <button type="submit" name="clear" class="btn btn-danger">
            {% bootstrap_icon "trash" %} Clear
	</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</form>
      </div>
    </div>
  </div>
</div>

{% else %}
Please enable Elasticsearch first.
{% endif %}
</div>
</div>
</div> <!-- container-fluid -->
</div> <!-- tabpanel -->

<div role="tabpanel" class="tab-pane fade{% if form_id == 'kibana' %} in active{% endif %}" id="kibana">
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
{% if main_form.use_elasticsearch.value %}
<form class="form" enctype="multipart/form-data" action="{% url 'system_settings' %}" method="post">
    {% csrf_token %}
    <input type='hidden' name='form_id' value='kibana'>
    {% bootstrap_label "Export user dashboards" %}
    <p class="help-block">
Clicking on the button will download the user-defined dashboards.
</p>
    {% buttons %}
        <button type="submit" name="export" class="btn btn-primary">
            {% bootstrap_icon "download" %} Export
        </button>
    {% endbuttons %}
    {% bootstrap_label "Import user dashboards" %}
    <p class="help-block">
 <strong>Note:</strong> existing dashboards with same name will be overwritten.
 </p>
    {% bootstrap_field kibana_form.file show_label=False %}
    <p class="help-block">
Select a file to import dashboards from.
</p>

    {% buttons %}
        <button type="submit" name="import" class="btn btn-warning">
            {% bootstrap_icon "upload" %} Import
        </button>
    {% endbuttons %}
    {% bootstrap_label "Clear user dashboards" %}
    <p class="help-block">This will clear all user-defined dashboards.</p>
    {% buttons %}
        <span id="clear_dashboards">
	<button type="button" name="clear" class="btn btn-danger">
            {% bootstrap_icon "trash" %} Clear
        </button>
	</span>
    {% endbuttons %}
    {% bootstrap_label "Reset SN dashboards" %}
    <p class="help-block">Reset Stamus Networks dashboards to default.</p>
    {% buttons %}
        <span id="reset_dashboards">
        <button type="button" class="btn btn-danger">
            {% bootstrap_icon "refresh" %} Reset
        </button>
	</span>
    {% endbuttons %}
</form>
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="clear_modal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="UpdateModalLabel">Delete all user dashboards</h4>
      </div>
      <div class="modal-body" id="update_text">
        Clicking on <code>Clear</code> will delete all saved user dashboards. Click on <code>Cancel</code> to abort.
      </div>
      <div class="modal-footer">

<form class="form" enctype="multipart/form-data" action="{% url 'system_settings' %}" method="post">
    {% csrf_token %}
    <input type='hidden' name='form_id' value='kibana'>
        <button type="submit" name="clear" class="btn btn-danger">
            {% bootstrap_icon "trash" %} Clear
	</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="reset_modal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="UpdateModalLabel">Reset Stamus Networks' dashboards</h4>
      </div>
      <div class="modal-body" id="update_text">
        Clicking on <code>Reset</code> will result in a reset to factory default of all Stamus Networks's dashboards.
 Click on <code>Cancel</code> to abort.
      </div>
      <div class="modal-footer">

<form class="form" enctype="multipart/form-data" action="{% url 'system_settings' %}" method="post">
    {% csrf_token %}
    <input type='hidden' name='form_id' value='kibana'>
        <button type="submit" name="reset" class="btn btn-danger">
            {% bootstrap_icon "refresh" %} Reset
	</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</form>	
      </div>
    </div>
  </div>
</div>

{% else %}
Please enable Elasticsearch first.
{% endif %}
</div>
</div>
</div> <!-- container-fluid -->
</div> <!-- tabpanel -->

</div> <!-- tab-content -->

<script type="text/javascript">

$("#es_clear").click(function() {
	$("#es_clear_modal").modal('show');
});

$("#clear_dashboards").click(function() {
	$("#clear_modal").modal('show');
});

$("#reset_dashboards").click(function() {
	$("#reset_modal").modal('show');
});

checkbox_toggle_div('#id_use_http_proxy', '#proxy_fields');
checkbox_toggle_div('#id_use_elasticsearch', '#es_fields');
checkbox_toggle_div('#id_custom_elasticsearch', '#es_custom_fields');
</script>


{% endif %}



{% endblock %}
