{% extends "rules/base.html" %}
{% load bootstrap3  %}

{% block sidebar %}
<div class="panel-heading">
{% if rule %}
<h2 class="panel-title">Transform rule {{ rule.pk }} </h2>
{% else %}
<h2 class="panel-title">Transform category '{{ category.name }}' </h2>
{% endif %}
</div>
{% endblock %}

{% block content %}

{% if rule %}
<h2>Transform rule</h2>
{% if category_transforms %}
<div class="panel panel-info">
<div class="panel-heading">Inheritance</div>
<div class="panel-body">
This rule is part of category <a href="{% url 'category' rule.category.pk %}">'{{ rule.category.name }}'</a> so inherit from:
<ul>
{% for transform in category_transforms %}
<li>
	<a href="{% url 'ruleset' transform.ruleset.pk %}">{{ transform.ruleset }}</a>: <div class="label label-info">{{ transform.trans }}</div>
</li>
{% endfor %}
</ul>
Changing transformation for the rule will add an exception.
</div>
</div>
{% endif %}
{% else %}
<h2>Transform category</h2>
{% endif %}


{% if category or rule.get_transform|length %}
<p>
Please choose a transformation to apply on current object. As transformation are exclusive, you need to pick one to apply.
</p>
<div class="container-fluid">
<div class="row">
<div class="col-md-6">

{% if rule %}
<form action="{% url 'transform_rule' rule.pk %}" method="post" class="form">
{% else %}
<form action="{% url 'transform_category' category.pk %}" method="post" class="form">
{% endif %}

{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "check" %} Valid
        </button>
    {% endbuttons %}
</form>
</div>
</div>
</div>
{% else %}
The rule can not be transformed because of its definition.
{% endif %}
{% endblock %}
