{% load static %}
{% load bootstrap3  %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
                {{ common_long_name }}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'rules/bootstrap.min.css' %}" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'rules/static.css' %}"/>
        <link rel="shortcut icon" href="{% static 'rules/favicon.ico' %}" />
    </head>
    <body>
        <div class="container-fluid login">

            <div class="login__logo-box">
                <img src="{% static 'rules/stamus.png' %}" alt="Logo" class="login__logo"/>
            </div>

            <div class="custom_banner">
                <h2>{{ banner }}</h2>
            </div>
            <div class="login__form-box">
                <h1 class="login__heading">
                    {{ common_long_name }}
                </h1>
                <form action="{{ request.get_full_path }}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_field form.username placeholder='Username' %}
                    {% bootstrap_field form.password placeholder='Password' %}
                    <div class="login__button-box">
                        <label for="id_persistent" class="login__checkbox">
                            <input type="checkbox" name="persistent" id="id_persistent">
                            <span>Remember this browser.</span>
                        </label>
                        {% buttons %}
                        <button type="submit" class="login__button">Sign In</button>
                        {% endbuttons %}
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12 login__error">
                        {% if error_login %}<div class="alert alert-danger">{{ error_login }}</div>{% endif %}
                    </div>
                </div>
            </div>

            <div class="login__legal">
                &copy; 2014-{% now "Y" %} Stamus Networks
            </div>

        </div>
    </body>
</html>
