{% extends "rules/base.html" %}
{% load bootstrap3  %}

{% block sidebar %}
<div class="panel-heading">
<h2 class="panel-title">Manage users</h2>
</div>
<ul>
<li><a href="{% url 'accounts_manage' '' %}">Users list</a></li>
</ul>

{% if not current_action and not confirm_action %}
<div class="panel-heading">
<h2 class="panel-title">Actions</h2>
</div>
<ul>
<li><a href="{% url 'accounts_useraction' user.pk 'edit' %}">Edit user</a></li>
<li><a href="{% url 'accounts_useraction' user.pk 'password' %}">Change user password</a></li>
<li><a href="{% url 'accounts_useraction' user.pk 'delete' %}">Delete user</a></li>
</ul>
{% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="row">
{% if current_action %}
<h2>{{ current_action }}</h2>
{% endif %}
{% if form %}
<h2>Editing user {{ user.username }}</h2>
<form action="{{ request.get_full_path }}" method="post" class="form">{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok" %} Valid
        </button>
    {% endbuttons %}
</form>
{% else %}
{% if action == 'delete' %}
<h2>Delete user {{user.username}}</h2>
{% else %}
<h2>User {{user.username}}</h2>
{% endif %}
<div class="container-fluid">
<div class="row">
<div class="col-md-4">
<ul class="list-group">
<li class="list-group-item"><strong>First name:</strong> <span class="pull-right">{{ user.first_name }}</span></li>
<li class="list-group-item"><strong>Last name:</strong> <span class="pull-right">{{ user.last_name }}</span></li>
<li class="list-group-item"><strong>Email:</strong> <span class="pull-right">{{ user.email }}</span></li>
{% if user.sciriususer %}
<li class="list-group-item"><strong>Timezone:</strong> <span class="pull-right">{{ user.sciriususer.timezone }}</span></li>
{% endif %}
<li class="list-group-item"><strong>Active:</strong> <span class="pull-right">{{ user.is_active }}</span></li>
<li class="list-group-item"><strong>Staff user:</strong> <span class="pull-right">{{ user.is_staff }}</span></li>
<li class="list-group-item"><strong>Super user:</strong> <span class="pull-right">{{ user.is_superuser }}</span></li>
</ul>

{% if action == 'delete' %}
<form action="{% url 'accounts_useraction' user.pk 'delete' %}" method="post" class="form">
{% csrf_token %}
<input type="hidden" name="confirm" value="1">
    {% buttons %}
<button type="submit" class="btn btn-primary">
Confirm user deletion
</button>
    {% endbuttons %}
</form>
{% endif %}
</div>
</div>
</div>
{% endif %}

</div>
</div>
</div>

{% endblock %}
