body { 
    --actions-on-objectives-color: #750512;
    --command-and-control-color: #815517;
    --delivery-color: #bba343;
    --exploitation-color: #ffc000;
    --installation-color: #d88a13;
    --reconnaissance-color: #005792;
    --weaponization-color: #728568;
  }