{% extends "rules/base.html" %}
{% load  staticfiles %}
{% load bootstrap3  %}
 
{% block content %}
<meta charset="utf-8">
<style>

.link {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

</style>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<form class="form" method="post">
{% csrf_token %}
			<span class="glyphicon glyphicon-search"> Filter: <input type="text" name="filter" id="id_filter" {% if filter %}value="{{ filter }}" {% endif %} width="20" /></span>
</form>
</div>
</div>

<div class="row">
<div class="col-md-6">
<h2 class="title">IP addresses linked by alerts</h3>
<svg width="750" style="border:solid 1px #ccc;" height="700" id="alerts"></svg>
</div>
<div class="col-md-6">
<h2 class="title">Flows</h3>
<svg width="750" style="border:solid 1px #ccc;" height="700" id="alerts"></svg>
</div>
</div>
</div>
<script>

var svg = d3.select("svg#alerts"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scale.category20b();

var force = d3.layout.force()
    .gravity(0.05)
    .distance(100)
    .charge(-50)
    .size([width, height]);

var alert_data={{ data|safe }};

function alert_draw(json) {

force
      .nodes(json.nodes)
      .links(json.links)
      .start();

  var link = svg.selectAll(".link")
      .data(json.links)
    .enter().append("line")
      .attr("class", "link")
      .attr("stroke-width", function(d) { return d.value; });

  link.append("title").text(function(d) {
  var title="";
  for (var i = 0; i < d.alerts.length; i++) {
    title = title + d.alerts[i]['key'] + ": " + d.alerts[i]['doc_count'] + "\n";
  }
  return title;
 });

  var node = svg.selectAll(".node")
      .data(json.nodes)
    .enter().append("g")
      .attr("class", "node")
.append("circle")
  .attr("r", 5)
  .attr("fill", function(d) { return color(d.group); })
      .call(force.drag);

  node.append("title")
      .text(function(d) { return d.id; });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
}

alert_draw(alert_data);

</script>
{% endblock %}
