{% extends "rules/base.html" %}


{% block sidebar %}
<div class="panel-heading">
{% if creation %}
<h2 class="panel-title">Suricata creation</h2>
{% else %}
<h2 class="panel-title">Suricata edition</h2>
{% endif %}
</div>
{% endblock %}


{% block content %}

{% if missing %}


<div class="alert alert-warning"> {{ missing }} </div>

{% else %}
<form action="/suricata/edit" method="post">{% csrf_token %}
{{ form.as_p }}
<input class="btn btn-default" type="submit" value="Submit" />
</form>
{% endif %}

{% endblock %}
