{% extends "rules/base.html" %}
{% load staticfiles %}

{% block body %}
<body onload="differentiate_suppressed();" />
{% endblock %}

{% block content %}

<script language="JavaScript">
function differentiate_suppressed() {
    var arr = [{{ suppressed }}];
    $(".sid").each(function() {
        if (jQuery.inArray(parseInt($( this ).text(), 10), arr) != -1)
            $( this ).addClass("suppressed")
    })
}

</script>

{% if elasticsearch %}

{% if influxdb %}
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">Rules activity</a></li>
    <li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Capture stats</a></li>
  </ul>

  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="rules">

{% endif %}

<div class="container-fluid">
<div class="row">
<div id="filter"> </div>
</div>

<div class="row">
<div class="col-md-6">

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2 class="title">Rules activity (last {{ date }})
<span class="pull-right">
<a  class="dropdown-toggle" type="button" id="display_menu" data-toggle="dropdown">
<span class="glyphicon glyphicon-cog"> </span>
</a>
<ul class="dropdown-menu" id="display_menu">
   <li><a href="?duration=1">Last 1h</a></li>
   <li><a href="?duration=6">Last 6h</a></li>
   <li><a href="?duration=24">Last 24h</a></li>
   <li><a href="?duration=48">Last 2d</a></li>
   <li><a href="?duration=168">Last 7d</a></li>
</ul>
</span>
</h2>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div id="rules_table">Fetching data...</div>
</div>
</div>
</div>

</div>
<div class="col-md-6">

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2 class="title">Alerts activity (last {{ date }})
<span class="pull-right">
<a  class="dropdown-toggle" type="button" id="display_menu" data-toggle="dropdown">
<span class="glyphicon glyphicon-cog"> </span>
</a>
<ul class="dropdown-menu" id="display_menu">
   <li role="presentation" class="dropdown-header">Time Filter</li>
   <li><a href="?duration=1">Last 1h</a></li>
   <li><a href="?duration=6">Last 6h</a></li>
   <li><a href="?duration=24">Last 24h</a></li>
   <li><a href="?duration=48">Last 2d</a></li>
   <li><a href="?duration=168">Last 7d</a></li>
   <li role="presentation" class="dropdown-header">Graph type</li>
   <li><a href="?graph=sunburst">Sunburst</a></li>
   <li><a href="?graph=circles">Circles</a></li>
</ul>
</span>
</h2>
</div> <!-- col -->
</div> <!-- row -->

<div class="row">
<div class="col-md-12">
<div id="timeline">
<span>Fetching data...</span>
<svg style="width:100%;height:300px">
</svg>
</div>

</div> <!-- col -->
</div> <!-- row -->
<div class="row">
<div class="col-md-12">
<div id="circles"></div>
</div>
</div>
</div> <!-- container -->

</div>
</div>
</div>

</div>

{% if influxdb %}
<div role="tabpanel" class="tab-pane fade" id="stats">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
         <h2>kernel captured packets (last {{ date }})
         <span class="pull-right">
         <a  class="dropdown-toggle" type="button" id="display_menu" data-toggle="dropdown">
         <span class="glyphicon glyphicon-cog"> </span>
         </a>
         <ul class="dropdown-menu" id="display_menu">
            <li><a href="?duration=1">Last 1h</a></li>
            <li><a href="?duration=6">Last 6h</a></li>
            <li><a href="?duration=24">Last 24h</a></li>
            <li><a href="?duration=48">Last 2d</a></li>
            <li><a href="?duration=168">Last 7d</a></li>
         </ul>
         </span>
         </h2>
      </div>
    </div> <!-- row -->

<div class="row">
<div class="col-md-12">
<div id="suri_packet">
<span>Fetching data...</span>
<svg style="width:100%;height:300px">
</svg>
</div>
</div> <!-- col -->
</div> <!-- row -->

    <div class="row">
      <div class="col-md-12">
         <h2>kernel dropped packets (last {{ date }})
         <span class="pull-right">
         <a  class="dropdown-toggle" type="button" id="display_menu" data-toggle="dropdown">
         <span class="glyphicon glyphicon-cog"> </span>
         </a>
         <ul class="dropdown-menu" id="display_menu">
            <li><a href="?duration=1">Last 1h</a></li>
            <li><a href="?duration=6">Last 6h</a></li>
            <li><a href="?duration=24">Last 24h</a></li>
            <li><a href="?duration=48">Last 2d</a></li>
            <li><a href="?duration=168">Last 7d</a></li>
         </ul>
         </span>
         </h2>
      </div>
    </div> <!-- row -->

<div class="row">
<div class="col-md-12">
<div id="suri_drop">
<span>Fetching data...</span>
<svg style="width:100%;height:300px">
</svg>
</div>
</div> <!-- col -->
</div> <!-- row -->

</div> <!-- container -->

</div> <!-- tabpanel -->
</div>
{% endif %}

</div>


<script>
$( 'document' ).ready(function () { draw_timeline({{ from_date }}, [ '{{ suricata.name }}'], null); });

$( 'document' ).ready(load_rules({{ from_date }},  [ '{{ suricata.name }}'], null));

$( 'document' ).ready(function () {
        {{ draw_func }}({{ from_date }}, [{% autoescape off %} "{{ suricata.name }}" {% endautoescape %}], null,
          function() {
            $('{{ draw_elt }}').mouseover(function(){
                var d = this.__data__;
                if (d.children == undefined) {
                    $( "#rules_table a:contains('" +d.key +"')" ).parent().parent().addClass('overed');
                }
            });
            $('{{ draw_elt }}').mouseout(function(){
                var d = this.__data__;
                if (d.children == undefined) {
                    $( "#rules_table a:contains('" +d.key +"')" ).parent().parent().removeClass('overed');
                }
            });
          }
        );
});


$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    if (String(e.target).match('#stats')) {
        draw_influxdb_timeline({{ time_range }}, 'suri_packet', '#suri_packet');
        draw_influxdb_timeline({{ time_range }}, 'suri_drop', '#suri_drop');
    } else {
        draw_timeline({{ from_date }}, [ '{{ suricata.name }}'], null);
    }
});

</script>
{% endif %}

{% endblock %}

{% block sidebar %}
<div class="panel-heading">
<h2 class="panel-title">Suricata {{ suricata.name }}</h2>
</div>
<ul>
       <li><span class="type">Ruleset:</span> {{ suricata.ruleset }}</li>
       <li><span class="type">Description:</span> {{ suricata.descr }}</li>
       <li><span class="type">Last updated:</span> {{ suricata.updated_date }}</li>
</ul>

{% if request.user.is_staff %}
<div class="panel-heading">
<h2 class="panel-title">Action</h2>
</div>
<ul class="action">
<li>
<a href="/suricata/update">Update</a>
</li>
<li>
<a href="/suricata/edit">Edit</a>
</li>
</ul>
{% endif %}

{% endblock %}
