{% extends "rules/base.html" %}
{% load staticfiles %}

{% block body %}
<body onload="differentiate_suppressed();" />
{% endblock %}

{% block content %}

<script language="JavaScript">
function differentiate_suppressed() {
    var arr = [{{ suppressed }}];
    $(".sid").each(function() {
        if (jQuery.inArray(parseInt($( this ).text(), 10), arr) != -1)
            $( this ).addClass("suppressed")
    })
}

</script>

{% if rules %}
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<h2 class="title">Rules activity (last {{ date }})
<span class="pull-right">
<a  class="dropdown-toggle" type="button" id="display_menu" data-toggle="dropdown">
<span class="glyphicon glyphicon-cog"> </span>
</a>
<ul class="dropdown-menu" id="display_menu">
   <li><a href="?duration=1">Last 1h</a></li>
   <li><a href="?duration=6">Last 6h</a></li>
   <li><a href="?duration=24">Last 24h</a></li>
   <li><a href="?duration=48">Last 2d</a></li>
   <li><a href="?duration=168">Last 7d</a></li>
</ul>
</span>
</h2>
</div>
</div>

<div class="row">
<div class="col-md-6">

{% load render_table from django_tables2 %}

{% render_table rules %}
</div>
</div>
</div>
{% endif %}

{% endblock %}

{% block sidebar %}
<div class="panel-heading">
<h2 class="panel-title">Suricata {{ suricata.name }}</h2>
</div>
<ul>
       <li><span class="type">Ruleset:</span> {{ suricata.ruleset }}</li>
       <li><span class="type">Description:</span> {{ suricata.descr }}</li>
       <li><span class="type">Last updated:</span> {{ suricata.updated_date }}</li>
</ul>

<div class="panel-heading">
<h2 class="panel-title">Action</h2>
</div>
<ul class="action">
<li>
<a href="/suricata/update">Update</a>
</li>
<li>
<a href="/suricata/edit">Edit</a>
</li>
</ul>

{% endblock %}
