{% load  staticfiles %}
{% load bootstrap3  %}
<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <title>Pktcity</title>
   <style>
      html, body {
         overflow: hidden;
         width: 100%;
         height: 100%;
         margin: 0;
         padding: 0;
      }
      #renderCanvas {
         width: 100%;
         height: 100%;
         touch-action: none;
      }
   </style>
   <script src="{% static 'js/babylon.js' %}"></script>
   <script src="{% static 'js/babylon.gui.min.js' %}"></script>
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/pktcity.js' %}"></script>
</head>
<body>
   <canvas id="renderCanvas"></canvas>
   <script type="text/javascript">
            esurl = "/rules/es?query=alerts_tail&from_date=" + {{ from_date }}
            $.ajax(
                {
                        type:"GET",
                        url:esurl,
                        success: function(data) {
                            PktCityCreateScene(data);
                        },
                        error: function(data) {
                            console.log("Unable to get data: %s", data);
                        }
                        
                }
            );
</script>
</body>
</html>
