.App {
  //text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rule-card {
  min-height: 200px;
}

.no-sparkline {
  height: 50px;
  width: 90%;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  text-align: center;
  padding-top: 20px;
}

.truncate-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-view-pf .list-group-item {
  display: block;
}

.eventFiltersHidden {
  visibility: hidden;
  margin-left: 5px;
}

.eventFilters {
  visibility: visible;
  margin-left: 5px;
  cursor: pointer;
}

.eventFilters a {
  text-decoration: none;
}

span.eventValue {
  max-width: 10em;
}

nav.navbar-pf-vertical {
  background-color: #f8f8f8;
  border: solid 1px #e7e7e7;
  border-top: none;
  color: #777;
}

.navbar-pf-vertical .nav .nav-item-iconic, .navbar-pf-vertical .nav .nav-item-iconic .caret, .navbar-pf-vertical .nav .nav-item-iconic .fa, .navbar-pf-vertical .nav .nav-item-iconic .pficon {
  color: #777;
}

.navbar-pf-vertical .nav .nav-item-iconic:hover , .navbar-pf-vertical .nav .nav-item-iconic:hover, .navbar-pf-vertical .nav .nav-item-iconic .fa:hover, .navbar-pf-vertical .nav .nav-item-iconic .pficon:hover {
  color: #333;
}

div.navbar-header button.navbar-toggle .icon-bar {
   background: #777;
}

div.navbar-header button.navbar-toggle:hover .icon-bar {
   background: #333;
}

.nav-pf-vertical-with-badges, .nav-pf-secondary-nav, .nav-pf-tertiary-nav {
  background-color: #e8e8e8;
  border: solid 1px #e7e7e7;
  color: #333;
}

.nav-item-pf-header {
  color: #333;
}

.nav-pf-vertical .list-group-item.active a {
  background-color: #f5f5f5;
  color: #333;
}

.nav-pf-vertical .list-group-item a {
  color: #333;
}

.nav-pf-vertical .list-group-item {
  border: solid 1px #d7d7d7;
}

.navbar-pf-vertical .nav .nav-item-iconic:hover .caret, .navbar-pf-vertical .nav .nav-item-iconic:focus .caret, .navbar-pf-vertical .nav .nav-item-iconic:hover .fa, .navbar-pf-vertical .nav .nav-item-iconic:focus .fa, .navbar-pf-vertical .nav .nav-item-iconic:hover .glyphicon, .navbar-pf-vertical .nav .nav-item-iconic:focus .glyphicon, .navbar-pf-vertical .nav .nav-item-iconic:hover .pficon, .navbar-pf-vertical .nav .nav-item-iconic:focus .pficon {
  color: #333;
}

.nav-pf-vertical .list-group-item > a .fa, .nav-pf-vertical .list-group-item > a .glyphicon, .nav-pf-vertical .list-group-item > a .pficon {
  color: #7b1244;
}

.nav-pf-tertiary-nav .nav-item-pf-header {
  color: #777;
}

.SigContent pre {
  white-space: pre-wrap;
}

.highlight .err {
  border: none;
}

.HuntList .spinner {
  margin-top: 10px;
}
