.App {
  //text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rule-card {
  min-height: 200px;
}

.no-sparkline {
  height: 50px;
  width: 90%;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  text-align: center;
  padding-top: 20px;
}

.truncate-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-view-pf .list-group-item {
  display: block;
}

.eventFiltersHidden {
  visibility: hidden;
  margin-left: 5px;
}

.eventFilters {
  visibility: visible;
  margin-left: 5px;
  cursor: pointer;
}

.eventFilters a {
  text-decoration: none;
}
